{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container py-5 category-title">
    <div class="page-title" style="margin-bottom: 60px;">
      <h1 class="mb-0 fw-normal">Teurny Hakkında</h1>
    </div>

    <div class="d-flex flex-column gap-4 about-div">
        

        <div>
            <div class="ratio-16x9">
                <img src="{% static 'tuerny_app/images/teurny-about.png' %}" class="w-100 h-100 object-fit-cover" />
            </div>
            
            

           
            
           
           
            
            



        </div>
        <div class="blog-content d-flex flex-column gap-3">
            <h1>Teurny Nedir</h1>
            <p>     Hayat bazen karmaşık, bazen de yorucu olabilir ama içinde keşfetmeye, hissetmeye ve öğrenmeye değer sayısız an barındırır. Teurny, işte tam da bu anları fark etmen, hayatını daha bilinçli, daha keyifli ve daha tatmin edici bir hale getirmen için var!</p>
               <p> Biz sadece bilgi sunan bir platform değiliz. Teurny, kafamızın içindeki sorulara cesurca cevap arayan, düşünmeye ve keşfetmeye teşvik eden ve bazen de eğlendirerek öğreten bir rehber. İlişkilerden cinselliğe, sağlıktan kişisel gelişime kadar birçok konuda açık, samimi ve dürüst bir dille konuşuyoruz. Çünkü biliyoruz ki, büyük değişimler tek bir büyük adımla değil, küçük farkındalıklarla başlar.</p>

            <h1>Misyonumuz</h1>
            <p>    Her bireyin kendini daha iyi tanımasına, keşfetmesine ve hayatı daha özgüvenli, daha mutlu ve tatmin edici bir şekilde yaşamasına yardımcı olmak. Bunu sıkıcı kurallarla değil, içten, eğlenceli ve hayatın içinden bir dille yaparak, senin de “Tam da bunu duymaya ihtiyacım vardı!” diyeceğin içerikler sunarak gerçekleştirmek istiyoruz.</p>
            <h1>Misyonumuz</h1>
            <p>     Hayat bazen karmaşık, bazen de yorucu olabilir ama içinde keşfetmeye, hissetmeye ve öğrenmeye değer sayısız an barındırır. Teurny, işte tam da bu anları fark etmen, hayatını daha bilinçli, daha keyifli ve daha tatmin edici bir hale getirmen için var!</p>
               <p> Biz sadece bilgi sunan bir platform değiliz. Teurny, kafamızın içindeki sorulara cesurca cevap arayan, düşünmeye ve keşfetmeye teşvik eden ve bazen de eğlendirerek öğreten bir rehber. İlişkilerden cinselliğe, sağlıktan kişisel gelişime kadar birçok konuda açık, samimi ve dürüst bir dille konuşuyoruz. Çünkü biliyoruz ki, büyük değişimler tek bir büyük adımla değil, küçük farkındalıklarla başlar.</p>

        
        </div>
        


        
        
    </div>
  </div>
  <div class="py-5">
    <div class="blog-section-2 blog-card-slider-2-container">
      <div class="blog-card-slider-2 mb-5">
        {% for e in extra %}
        <div class="px-2">
          <div class="blog-card-1 mw-100">
            <div class="ratio-1">
              <a href="{% url 'tuerny_app:blog_detail' e.blog.slug %}">
                <img
                  src="{{ e.blog.media.url }}"
                  class="w-100 h-100 object-fit-cover"
              /></a>
            </div>
            <div>
              <p
                class="blog-category"
                style="font-size: 14px; margin-bottom: 10px; margin-top: 16px"
              >
              {{ e.blog.category.name }}
              </p>
              <a href="#" class="blog-card-title mb-0 stretched-link special-cards">
                {{ e.blog.title }}
              </a>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <div class="row">
        <div class="col-6">
          <div class="d-flex justify-content-end">
            <div class="px-3 slider-prev">
              <i class="fa-solid fa-chevron-left fs-3"></i>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex justify-content-start">
            <div class="px-3 slider-next">
              <i class="fa-solid fa-chevron-right fs-3"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}