{% extends 'base.html' %} {% load static %} {% load math_filters %} {% block content %}
<style>
    .question-card-survey-item-progress-rate span {
        word-break: normal;
    }
.vote-option{
  font-family: 'Roboto';
  color: #989491;
}
@media screen and (max-width: 720px) {
  .teurny-button-primary {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
  }
  .question-card-title {
    margin-bottom: 0px;
  }
  .question-card-survey.py-2.vCheckRequired {
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
  }
}
</style>
<div class="container py-5 ask-detail-container">
	<div class="row ask-detail-row">
		<div class="col-lg-9">
			<div>
				<div class="d-flex flex-column gap-4">
					<div class="question-card">
						<div class="question-card-category">
							<p>{{pool.question.subcategory.name}}</p>
						</div>
						<div class="question-card-date">
							<p>{{ pool.question.created_at|date:"d.m.Y" }}</p>
						</div>
						<h3 class="question-card-title pb-2" style="font-weight: 400;">
                <a href="{% url 'tuerny_app:ask' %}">
                  {{pool.question.title}}
                </a>
              </h3>
						<p class="question-card-text py-2">{{pool.poll_question}}</p>
						<form method="post" action="/Controller/ajax/ajax.php?process=surveyvote" class="ajaxFormTrue">
              {% if pool %}
    {% with poll_instance=poll_data|get_item:pool.question.id %}
    {% with total_votes=poll_instance.total_votes|default:0 %}

    {% for vote in pool.options.all %}
        <div class="question-card-survey py-2 vCheckRequired">
            <div class="question-card-survey-item" >
                
                <div class="question-card-survey-item-label">
                    <input class="votee" name="vote_{{ pool.question.id }}" value="{{ vote.id }}" type="radio" id="r{{ vote.id }}"
                    {% if request.user in vote.voted_users.all %} checked {% endif %}>
                    <label class="vote-option" {% if request.user in vote.voted_users.all %} style="color: rgb(65, 65, 65);" {% endif %} for="r{{ vote.id }}">{{ vote.option_text }}</label>
                </div>
                
                <div class="question-card-survey-item-progress">
                    <div class="question-card-survey-item-progress-rate"
                         id="progress-{{ vote.id }}"
                         style="width: {% if total_votes > 0 %}{{ poll_instance.percentages|get_item:vote.id|floatformat:1 }}{% else %}0{% endif %}%">
                        <span id="percentage-{{ vote.id }}">
                            {% if total_votes > 0 %}
                                {{ poll_instance.percentages|get_item:vote.id|floatformat:1 }}%
                            {% else %}
                                0%
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% endwith %}
    {% endwith %}
{% endif %}
							<div class="col-md-12 vAjaxErrors"></div>
							
						</form>
						<div class="d-flex justify-content-between align-items-center pt-4">
							<div class="d-flex gap-4">
								<div class="question-card-button"> <i class="fa-regular fa-eye question-card-button-icon"></i> <span class="question-card-button-text">{{pool.question.views_count}}</span> </div>
								<div class="question-card-button"> <i class="fa-regular fa-message question-card-button-icon"></i> <span class="question-card-button-text">{{ pool.question.comments.count }}</span> </div>
							</div>
							<div class="d-flex align-items-center gap-3">
								<div class="question-card-button">
                                    {% if request.user in pool.question.dislikes.all %}
                                    <svg style="cursor: pointer;" data-id="{{ pool.question.id }}"  id="dislike-icon-{{ pool.question.id }}" class="a-solid fa-heart-crack question-card-button-icon dislike-button"
                                     version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                        width="22" height="22" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                                    <path fill="#000000" stroke="#000000" stroke-width="4" stroke-miterlimit="10" d="M1,21c0,20,31,38,31,38s31-18,31-38
                                        c0-8.285-6-16-15-16c-8.285,0-16,5.715-16,14c0-8.285-7.715-14-16-14C7,5,1,12.715,1,21z"/>
                                    <polyline fill="none" stroke="#fff" stroke-width="4" stroke-miterlimit="10" points="29,57 36,50 30,44 36,38 30,32 38,24 
                                        32,19 32,17 "/>
                                    </svg>
                                    {% else %}
                                    <svg style="cursor: pointer;" data-id="{{ pool.question.id }}"  id="dislike-icon-{{ pool.question.id }}" class="a-solid fa-heart-crack question-card-button-icon dislike-button"
                                     version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                        width="22" height="22" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                                    <path fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" d="M1,21c0,20,31,38,31,38s31-18,31-38
                                        c0-8.285-6-16-15-16c-8.285,0-16,5.715-16,14c0-8.285-7.715-14-16-14C7,5,1,12.715,1,21z"/>
                                    <polyline fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" points="29,57 36,50 30,44 36,38 30,32 38,24 
                                        32,19 32,17 "/>
                                    </svg>
                                    {% endif %}
                     <span id="dislike-count-{{ pool.question.id }}">{{ pool.question.dislike_count }}</span>
              </div>
              <div class="question-card-rate-line-container">
                <div class="question-card-rate-line">
                    <div class="rate-line-dislike" id="rate-dislike-{{  pool.question.id }}"></div>
                    <div class="rate-line-like" id="rate-like-{{  pool.question.id }}"></div>
                </div>
            </div>
								<div class="question-card-button">
                  
                     {% if request.user in pool.question.likes.all %}
                     <svg class="question-card-button-icon like-button" style="cursor: pointer;" data-id="{{ pool.question.id }}" id="like-icon-{{ pool.question.id }}" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                     width="22" height="22" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                <path fill="#8f4d61" stroke="#8f4d61" stroke-width="4" stroke-miterlimit="10" d="M1,21c0,20,31,38,31,38s31-18,31-38
                    c0-8.285-6-16-15-16c-8.285,0-16,5.715-16,14c0-8.285-7.715-14-16-14C7,5,1,12.715,1,21z"/>
                
                </svg>
                {% else %}
                <svg class="question-card-button-icon like-button" style="cursor: pointer;" data-id="{{ pool.question.id }}" id="like-icon-{{ pool.question.id }}" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                     width="22" height="22" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                <path fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" d="M1,21c0,20,31,38,31,38s31-18,31-38
                    c0-8.285-6-16-15-16c-8.285,0-16,5.715-16,14c0-8.285-7.715-14-16-14C7,5,1,12.715,1,21z"/>
                
                </svg>
                {% endif %}
                     <span id="like-count-{{ pool.question.id }}">{{ pool.question.like_count }}</span>
              </div>
							</div>
						</div>
						<div class="question-card-comments" style="padding-top: 15px">
							<div class="blog-section-title"> <span>Yorumlar</span>
								<div class="blog-section-title-divider"></div>
								<p></p>
							</div> {% for comment in pool.question.comments.all%}
							<div class="d-flex flex-column gap-3 mt-4 comment-x" style="gap: 0 !important;">
								<div class="blog-comment-item"> {% if comment.anonymous %}
									<p class="blog-comment-item-author"> Kullanıcı adı gizli </p> {% else %}
									<p class="blog-comment-item-author">@{{comment.user.username}}</p> {% endif %}
									<p class="blog-comment-item-text" style="margin-bottom: 5px !important; font-weight: 400; font-size: 14px; font-family: 'Poppins';">{{comment.content}}</p>
								</div>
								<div class="teurny-divider"></div>
							</div> {% endfor %}
              <a href="#" class="load-more-comments">
                <h1 style="font-family: 'Poppins'; font-weight: 500; font-size: 12px; line-height: 130%; margin-top: 10px; font-style: italic;">Devamını Gör</h1>
            </a> 
							<div class="mt-4">
								<form method="POST" class="ajaxFormTrue" action="{% url 'tuerny_app:add-comment' %}">
									{% csrf_token %}
									<input type="hidden" name="type_id" value="{{pool.question.id}}" />
									<input type="hidden" name="pool_id" value="{{pool.id}}" />
									<input type="hidden" name="parent" value="0" />
									<div class="limit-counter textarea-counter">
										<label for="content" id="content-counter" class="counter-area">00/360</label>
										<textarea name="content" class="teurny-input" id="counter-textarea" rows="8" maxlength="360" placeholder="Yorum Yap" style="resize: none" required></textarea>
									</div>
									<div class="d-flex gap-3 mt-4">
										<div>
											<label for="cb-1" class="teurny-checkbox">
												<input name="hidden_user_name" type="checkbox" id="cb-1" class="d-none" />
												<div class="teurny-checkbox-inner"></div>
											</label>
										</div>
										<div>
											<p class="fw-semibold font-roboto blog-comment-checkbox-label mb-1"> KULLANICI ADINI GİZLE </p>
											<p class="font-roboto blog-comment-checkbox-text"> Bu gönderi için kullanıcı adını gizlenecek </p>
										</div>
									</div>
									<div class="col-md-12 vAjaxErrors"></div>
									<button type="submit" class="teurny-button-primary mt-4"> Gönder </button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="d-flex flex-column gap-5 mt-5 mt-lg-0 question-sidebar">
				<div>
					<div class="blog-section-title soru"> <span>Beğenilen Sorular</span>
						<div class="blog-section-title-divider"></div>
						<p></p>
					</div>
					<div class="mt-3 d-flex flex-column gap-3">
            {% for like in request.user.liked_questions.all %}
                    <div class="question-card-2">
                        <div>
                            <img src="{% static 'tuerny_app/images/icons/question1.png' %}" alt="">
                        </div>
                        
                        <p class="question-card-2-title">
                            <a href="{% url 'tuerny_app:ask' like.id %}"> {{like.title}} </a>
                        </p>
                       
                    </div>
                    {% endfor %}
        </div>
          </div>
				<div>
					<div class="blog-section-title soru"> <span>Reklam</span>
						<div class="blog-section-title-divider"></div>
						<p></p>
					</div>
					<div class="mt-3 d-flex flex-column gap-3">
            <img src="{% static 'tuerny_app/images/vertical-ad.jpg' %}" alt="">
						<div class="question-card-2">
							
							
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div
    class="modal fade"
    id="searchModal"
    tabindex="-1"
    aria-labelledby="searchModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-8">
                <form method="GET" action="{% url 'tuerny_app:question' %}">
                  <div>
                    <div
                      class="border py-2 ps-3 pe-2 d-flex align-items-center"
                    >
                      <i class="fa-solid fa-magnifying-glass fs-4"></i>
                      <div class="flex-grow-1 ps-3">
                        <input
                          name="keyword"
                          type="text"
                          class="teurny-input border-0 w-100"
                          placeholder="Ara..."
                        />
                      </div>
                      <button
                        type="submit"
                        class="teurny-button-secondary w-auto"
                      >
                        ARA
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const commentForm = document.querySelector(".ajaxFormTrue");

    if (commentForm) {
        commentForm.addEventListener("submit", function (e) {
            e.preventDefault(); // Sayfanın yenilenmesini engelle

            let formData = new FormData(commentForm); // Form verilerini al
            let actionUrl = commentForm.getAttribute("action"); // Formun gönderileceği URL

            fetch(actionUrl, {
                method: "POST",
                body: formData,
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === "success") {
                        let commentList = document.querySelector(".comment-list"); // Yorumları içeren alan
                        let newComment = document.createElement("div");
                        newComment.classList.add("comment-item");

                        let userName = formData.get("hidden_user_name") ? "Anonim Kullanıcı" : "{{ user.username }}";
                        let content = formData.get("content");

                        newComment.innerHTML = `
                            <div class="comment-header">
                                <strong>${userName}</strong> - <span>Şimdi</span>
                            </div>
                            <p>${content}</p>
                        `;
                        location.reload();
                        // Yeni yorumu yorum listesine ekleyelim
                        if (commentList) {
                            commentList.prepend(newComment);
                        }

                        // Formu temizle
                        commentForm.reset();
                    } else {
                        alert("Yorum eklenirken bir hata oluştu!");
                    }
                })
                .catch(error => {
                    console.error("Hata:", error);
                    alert("Sunucuyla bağlantı kurulamadı!");
                });
        });
    }
});
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      // Beğeni butonu
      document.querySelectorAll(".like-button").forEach(button => {
          button.addEventListener("click", function() {
              let questionId = this.dataset.id;
              
              let csrfToken = "{{ csrf_token }}";
  
              fetch(`/like/${questionId}/`, {
                  method: "POST",
                  headers: {
                      "X-CSRFToken": csrfToken,
                      "Content-Type": "application/json"
                  }
              })
              .then(response => response.json())
              .then(data => {
                  if (data.success) {
                      console.log("fp")
                      document.getElementById(`like-count-${questionId}`).textContent = data.like_count;
                      document.getElementById(`dislike-count-${questionId}`).textContent = data.dislike_count;
  
                      let likeIcon = document.getElementById(`like-icon-${questionId}`);
                      let dislikeIcon = document.getElementById(`dislike-icon-${questionId}`);
  
                      if (data.liked) {
    likeIcon.classList.add("active");

    const path = likeIcon.querySelector("path");
    path.setAttribute("fill", "#8f4d61");
    path.setAttribute("stroke", "#8f4d61");

    // Dislike'ı pasifleştir
    const dislikePath = dislikeIcon.querySelector("path");
    const dislikePolyline = dislikeIcon.querySelector("polyline");
    dislikeIcon.classList.remove("active");
    dislikePath.setAttribute("fill", "none");
    dislikePath.setAttribute("stroke", "#000000");
    dislikePolyline.setAttribute("stroke", "#000000");

} else {
    likeIcon.classList.remove("active");

    const path = likeIcon.querySelector("path");
    path.setAttribute("fill", "none");
    path.setAttribute("stroke", "#000000");
}
  
                      // dislikeIcon.classList.remove("fa-solid");
                      // dislikeIcon.classList.remove("active");
                  }
              });
          });
      });
  
      // Beğenmeme butonu
      document.querySelectorAll(".dislike-button").forEach(button => {
          button.addEventListener("click", function() {
              let questionId = this.dataset.id;
              let csrfToken = "{{ csrf_token }}";
  
              fetch(`/dislike/${questionId}/`, {
                  method: "POST",
                  headers: {
                      "X-CSRFToken": csrfToken,
                      "Content-Type": "application/json"
                  }
              })
              .then(response => response.json())
              .then(data => {
                  if (data.success) {
                      document.getElementById(`like-count-${questionId}`).textContent = data.like_count;
                      document.getElementById(`dislike-count-${questionId}`).textContent = data.dislike_count;
  
                      let likeIcon = document.getElementById(`like-icon-${questionId}`);
                      let dislikeIcon = document.getElementById(`dislike-icon-${questionId}`);
  
                      if (data.disliked) {
    dislikeIcon.classList.add("active");

    const path = dislikeIcon.querySelector('path');
    const polyline = dislikeIcon.querySelector('polyline');

    path.setAttribute("fill", "#000000");
    path.setAttribute("stroke", "#000000");
    polyline.setAttribute("stroke", "#ffffff");

    // Eğer daha önceden like yapıldıysa, like'ı sıfırla
    likeIcon.classList.remove("active");

    const likePath = likeIcon.querySelector("path");
    likePath.setAttribute("fill", "none");
    likePath.setAttribute("stroke", "#000000");

} else {
    dislikeIcon.classList.remove("active");

    const path = dislikeIcon.querySelector('path');
    const polyline = dislikeIcon.querySelector('polyline');

    path.setAttribute("fill", "none");
    path.setAttribute("stroke", "#000000");
    polyline.setAttribute("stroke", "#000000");
}
  
                      likeIcon.classList.remove("fa-solid");
                      likeIcon.classList.add("fa-regular");
                      // likeIcon.classList.remove("active");
                  }
              });
          });
      });
  });
  </script>


<script>
  document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll("input[type=radio]").forEach(radio => {
          radio.addEventListener("change", function() {
              let questionId = this.name.split("_")[1]; 
              let optionId = this.value;
              let csrfToken = "{{ csrf_token }}";

  
              fetch(`/vote/${questionId}/${optionId}/`, {
                  method: "POST",
                  headers: {
                      "X-CSRFToken": csrfToken,
                      "Content-Type": "application/json"
                  }
              })
              .then(response => {
                  console.log("🔹 Server Response:", response);
                  return response.json();
              })
              .then(data => {
                  if (data.success) {
                      console.log("✅ Başarılı oy kullanıldı:", data);
  
                      // Yüzdelik oranları güncelle
                      Object.keys(data.percentages).forEach(optionId => {
                          let progressBar = document.querySelector(`#progress-${optionId}`);
                          let percentageText = document.querySelector(`#percentage-${optionId}`);
  
                          if (progressBar && percentageText) {
                              progressBar.style.width = data.percentages[optionId] + "%";
                              percentageText.innerText = data.percentages[optionId] + "%";
                          }
                      });
                  } else {
                      console.error("❌ Hata:", data.message);
                      alert("Hata: " + data.message);
                  }
              })
              .catch(error => console.error("❌ Fetch Hatası:", error));
          });
      });
  });
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
// Tüm radio inputlarını seç
const radioButtons = document.querySelectorAll("input[type='radio'][name^='vote_']");

radioButtons.forEach((radio) => {
    radio.addEventListener("change", function () {
        // Aynı name'e sahip tüm labelları gri yap
        const groupName = this.name;
        const labels = document.querySelectorAll(`input[name='${groupName}'] + label`);

        labels.forEach(label => {
            label.style.color = "#989491"; // Varsayılan rengi uygula (gri)
        });

        // Seçili olan radio'nun label'ını koyu renk yap
        const selectedLabel = document.querySelector(`label[for='${this.id}']`);
        if (selectedLabel) {
            selectedLabel.style.color = "#414141"; // Seçili olan koyu renk
        }
    });
});
});
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
      // Tüm radio inputlarını seç
      const radioButtons = document.querySelectorAll("input[type='radio'][name^='vote_']");
  
      radioButtons.forEach((radio) => {
          radio.addEventListener("change", function () {
              const groupName = this.name;
  
              // Aynı name'e sahip tüm labelları gri yap
              const labels = document.querySelectorAll(`input[name='${groupName}'] + label`);
              labels.forEach(label => {
                  label.style.color = "#989491"; // Varsayılan gri renk
              });
  
              // Seçili olan radio'nun label'ını koyu renk yap
              const selectedLabel = document.querySelector(`label[for='${this.id}']`);
              if (selectedLabel) {
                  selectedLabel.style.color = "#414141"; // Seçili olan koyu renk
              }
          });
      });
  });
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
    function updateRateLines(qId) {
        let likeCountEl = document.getElementById(`like-count-${qId}`);
        let dislikeCountEl = document.getElementById(`dislike-count-${qId}`);
        let likeBar = document.getElementById(`rate-like-${qId}`);
        let dislikeBar = document.getElementById(`rate-dislike-${qId}`);

        let likeCount = parseInt(likeCountEl.innerText) || 0;
        let dislikeCount = parseInt(dislikeCountEl.innerText) || 0;
        let total = likeCount + dislikeCount;

        if (total === 0) {
            likeBar.style.width = "0%";
            dislikeBar.style.width = "0%";
        } else {
            likeBar.style.width = (likeCount / total) * 100 + "%";
            dislikeBar.style.width = (dislikeCount / total) * 100 + "%";
        }
    }

    // Like & Dislike sayıları değiştiğinde otomatik güncellemek için Observer tanımlıyoruz
    function observeChanges(qId) {
        let likeCountEl = document.getElementById(`like-count-${qId}`);
        let dislikeCountEl = document.getElementById(`dislike-count-${qId}`);

        let observer = new MutationObserver(() => updateRateLines(qId));

        observer.observe(likeCountEl, { childList: true });
        observer.observe(dislikeCountEl, { childList: true });
    }

    // Tüm sorular için güncelleme işlemini başlat
    document.querySelectorAll("[id^='like-count-']").forEach(el => {
        let qId = el.id.replace("like-count-", "");
        updateRateLines(qId);
        observeChanges(qId);
    });
});
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
      const comments = document.querySelectorAll(".comment-x"); 
      const divider = document.querySelectorAll(".teurny-divider");
      const loadMoreButton = document.querySelector(".load-more-comments");
  
      let visibleComments = 2; // Başlangıçta kaç yorum gözükecek
  
      function updateComments() {
          comments.forEach((comment, index) => {
              if (index < visibleComments) {
                  comment.style.display = "block"; // Yorumu göster
                  if (divider[index]) {
                      divider[index].style.display = "block"; // Ayraçları da göster
                  }
              } else {
                comment.setAttribute("style", "display: none !important;"); // Fazla yorumları gizle
                  if (divider[index]) {
                      divider[index].style.display = "none"; // Ayraçları da gizle
                  }
              }
          });
  
          // Eğer tüm yorumlar gösterildiyse butonu gizle
          if (visibleComments >= comments.length) {
              loadMoreButton.style.display = "none";
          }
      }
  
      // Butona tıklanınca yorumları 2 tane daha göster
      loadMoreButton.addEventListener("click", function (e) {
          e.preventDefault();
          visibleComments += 2;
          updateComments();
      });
  
      // Eğer hiç yorum yoksa butonu gizle
      if (comments.length === 0) {
          loadMoreButton.style.display = "none";
      }
  
      // İlk çalıştırma
      updateComments();
  });
  </script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".question-card").forEach(function (questionCard) {
        let hasVoted = false;
        let questionId = questionCard.querySelector(".votee")?.name.split("_")[1];

        // Kullanıcının herhangi bir seçeneğe oy verip vermediğini kontrol et
        questionCard.querySelectorAll(".votee").forEach(function (voteOption) {
            if (voteOption.checked) {
                hasVoted = true;
            }
        });

        // Eğer kullanıcı oy vermemişse, yüzdeleri gizle
        if (!hasVoted) {
            questionCard.querySelectorAll(".question-card-survey-item-progress-rate").forEach(function (progressBar) {
                progressBar.style.display = "none";
            });
        }

        // Oy verildiğinde yüzdeleri göster
        questionCard.querySelectorAll(".votee").forEach(function (voteOption) {
            voteOption.addEventListener("change", function () {
                questionCard.querySelectorAll(".question-card-survey-item-progress-rate").forEach(function (progressBar) {
                    progressBar.style.display = "block";
                });
            });
        });
    });
});
</script>
{% endblock content %}