{% extends 'base.html' %} {% load static %} {% load math_filters %} {% block content %}
<div class="container py-5 ask-detail-container">
	<div class="row ask-detail-row">
		<div class="col-lg-9">
			<div>
				<div class="d-flex flex-column gap-4">
					<div class="question-card">
						<div class="question-card-category">
							<p>{{pool.question.subcategory.name}}</p>
						</div>
						<div class="question-card-date">
							<p>Question Date</p>
						</div>
						<h3 class="question-card-title pb-2">
                <a href="{% url 'tuerny_app:ask' %}">
                  {{pool.question.title}}
                </a>
              </h3>
						<p class="question-card-text py-2">{{pool.poll_question}}</p>
						<form method="post" action="/Controller/ajax/ajax.php?process=surveyvote" class="ajaxFormTrue">
              {% if pool %}
    {% with poll_instance=poll_data|get_item:pool.question.id %}
    {% with total_votes=poll_instance.total_votes|default:0 %}

    {% for vote in pool.options.all %}
        <div class="question-card-survey py-2 vCheckRequired">
            <div class="question-card-survey-item" style="margin-bottom: 10px">
                
                <div class="question-card-survey-item-label">
                    <input name="vote_{{ pool.question.id }}" value="{{ vote.id }}" type="radio" id="r{{ vote.id }}"
                    {% if request.user in vote.voted_users.all %} checked {% endif %}>
                    <label for="r{{ vote.id }}">{{ vote.option_text }}</label>
                </div>
                
                <div class="question-card-survey-item-progress">
                    <div class="question-card-survey-item-progress-rate"
                         id="progress-{{ vote.id }}"
                         style="width: {% if total_votes > 0 %}{{ poll_instance.percentages|get_item:vote.id|floatformat:1 }}{% else %}0{% endif %}%">
                        <span id="percentage-{{ vote.id }}">
                            {% if total_votes > 0 %}
                                {{ poll_instance.percentages|get_item:vote.id|floatformat:1 }}%
                            {% else %}
                                0%
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% endwith %}
    {% endwith %}
{% endif %}
							<div class="col-md-12 vAjaxErrors"></div>
							
						</form>
						<div class="d-flex justify-content-between align-items-center pt-4">
							<div class="d-flex gap-4">
								<div class="question-card-button"> <i class="fa-regular fa-eye question-card-button-icon"></i> <span class="question-card-button-text">{{pool.question.views_count}}</span> </div>
								<div class="question-card-button"> <i class="fa-regular fa-message question-card-button-icon"></i> <span class="question-card-button-text">{{ pool.question.comments.count }}</span> </div>
							</div>
							<div class="d-flex align-items-center gap-3">
								<div class="question-card-button">
                  
                  <i style="cursor: pointer" data-id="{{ pool.question.id }}"
                     id="dislike-icon-{{ pool.question.id }}"
                     class="fa-solid fa-heart-crack question-card-button-icon dislike-button {% if request.user in pool.question.dislikes.all %}active{% endif %}"></i>
                  <span id="dislike-count-{{ pool.question.id }}">{{ pool.question.dislike_count }}</span>
              </div>
								<div class="question-card-rate-line"></div>
								<div class="question-card-button">
                  <i style="cursor: pointer" data-id="{{ pool.question.id }}"
                     id="like-icon-{{ pool.question.id }}"
                     class="fa-regular fa-heart question-card-button-icon like-button {% if request.user in pool.question.likes.all %}active{% endif %}"></i>
                  <span id="like-count-{{ pool.question.id }}">{{ pool.question.like_count }}</span>
              </div>
							</div>
						</div>
						<div class="question-card-comments" style="padding-top: 15px">
							<div class="blog-section-title"> <span>Yorumlar</span>
								<div class="blog-section-title-divider"></div>
								<p></p>
							</div> {% for comment in pool.question.comments.all%}
							<div class="d-flex flex-column gap-3 mt-4">
								<div class="blog-comment-item"> {% if comment.anonymous %}
									<p class="blog-comment-item-author"> Kullanıcı adı gizli </p> {% else %}
									<p class="blog-comment-item-author">{{comment.user.username}}</p> {% endif %}
									<p class="blog-comment-item-text"></p>
								</div>
								<div class="teurny-divider">{{comment.content}}</div>
							</div> {% endfor %}
							<div class="mt-4">
								<form method="POST" class="ajaxFormTrue" action="{% url 'tuerny_app:add-comment' %}">
									{% csrf_token %}
									<input type="hidden" name="type_id" value="{{pool.question.id}}" />
									<input type="hidden" name="pool_id" value="{{pool.id}}" />
									<input type="hidden" name="parent" value="0" />
									<div class="limit-counter textarea-counter">
										<label for="content" id="content-counter" class="counter-area">00/360</label>
										<textarea name="content" class="teurny-input" id="counter-textarea" rows="8" maxlength="360" placeholder="Yorum Yap" style="resize: none" required></textarea>
									</div>
									<div class="d-flex gap-3 mt-4">
										<div>
											<label for="cb-1" class="teurny-checkbox">
												<input name="hidden_user_name" type="checkbox" id="cb-1" class="d-none" />
												<div class="teurny-checkbox-inner"></div>
											</label>
										</div>
										<div>
											<p class="fw-semibold font-roboto blog-comment-checkbox-label mb-1"> KULLANICI ADINI GİZLE </p>
											<p class="font-roboto blog-comment-checkbox-text"> Bu gönderi için kullanıcı adını gizlenecek </p>
										</div>
									</div>
									<div class="col-md-12 vAjaxErrors"></div>
									<button type="submit" class="teurny-button-primary mt-4"> Gönder </button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="d-flex flex-column gap-5 mt-5 mt-lg-0 question-sidebar">
				<div>
					<div class="blog-section-title soru"> <span>Beğenilen Sorular</span>
						<div class="blog-section-title-divider"></div>
						<p></p>
					</div>
					<div class="mt-3 d-flex flex-column gap-3">
            {% for like in request.user.liked_questions.all %}
                    <div class="question-card-2">
                        <div>
                            <img src="{% static 'tuerny_app/images/icons/question1.png' %}" alt="">
                        </div>
                        
                        <p class="question-card-2-title">
                            <a href="{% url 'tuerny_app:ask' like.id %}"> {{like.title}} </a>
                        </p>
                       
                    </div>
                    {% endfor %}
        </div>
          </div>
				<div>
					<div class="blog-section-title soru"> <span>Reklam</span>
						<div class="blog-section-title-divider"></div>
						<p></p>
					</div>
					<div class="mt-3 d-flex flex-column gap-3">
            <img src="{% static 'tuerny_app/images/vertical-ad.jpg' %}" alt="">
						<div class="question-card-2">
							
							
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div
    class="modal fade"
    id="searchModal"
    tabindex="-1"
    aria-labelledby="searchModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-8">
                <form method="GET" action="/search">
                  <div>
                    <div
                      class="border py-2 ps-3 pe-2 d-flex align-items-center"
                    >
                      <i class="fa-solid fa-magnifying-glass fs-4"></i>
                      <div class="flex-grow-1 ps-3">
                        <input
                          name="keyword"
                          type="text"
                          class="teurny-input border-0 w-100"
                          placeholder="Ara..."
                        />
                      </div>
                      <button
                        type="submit"
                        class="teurny-button-secondary w-auto"
                      >
                        ARA
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const commentForm = document.querySelector(".ajaxFormTrue");

    if (commentForm) {
        commentForm.addEventListener("submit", function (e) {
            e.preventDefault(); // Sayfanın yenilenmesini engelle

            let formData = new FormData(commentForm); // Form verilerini al
            let actionUrl = commentForm.getAttribute("action"); // Formun gönderileceği URL

            fetch(actionUrl, {
                method: "POST",
                body: formData,
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === "success") {
                        let commentList = document.querySelector(".comment-list"); // Yorumları içeren alan
                        let newComment = document.createElement("div");
                        newComment.classList.add("comment-item");

                        let userName = formData.get("hidden_user_name") ? "Anonim Kullanıcı" : "{{ user.username }}";
                        let content = formData.get("content");

                        newComment.innerHTML = `
                            <div class="comment-header">
                                <strong>${userName}</strong> - <span>Şimdi</span>
                            </div>
                            <p>${content}</p>
                        `;
                        location.reload();
                        // Yeni yorumu yorum listesine ekleyelim
                        if (commentList) {
                            commentList.prepend(newComment);
                        }

                        // Formu temizle
                        commentForm.reset();
                    } else {
                        alert("Yorum eklenirken bir hata oluştu!");
                    }
                })
                .catch(error => {
                    console.error("Hata:", error);
                    alert("Sunucuyla bağlantı kurulamadı!");
                });
        });
    }
});
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      // Beğeni butonu
      document.querySelectorAll(".like-button").forEach(button => {
          button.addEventListener("click", function() {
              let questionId = this.dataset.id;
              
              let csrfToken = "{{ csrf_token }}";
  
              fetch(`/like/${questionId}/`, {
                  method: "POST",
                  headers: {
                      "X-CSRFToken": csrfToken,
                      "Content-Type": "application/json"
                  }
              })
              .then(response => response.json())
              .then(data => {
                  if (data.success) {
                      console.log("fp")
                      document.getElementById(`like-count-${questionId}`).textContent = data.like_count;
                      document.getElementById(`dislike-count-${questionId}`).textContent = data.dislike_count;
  
                      let likeIcon = document.getElementById(`like-icon-${questionId}`);
                      let dislikeIcon = document.getElementById(`dislike-icon-${questionId}`);
  
                      if (data.liked) {
                          likeIcon.classList.add("fa-solid");
                          likeIcon.classList.add("active");
                      } else {
                          likeIcon.classList.remove("fa-solid");
                          likeIcon.classList.remove("active");
                      }
  
                      // dislikeIcon.classList.remove("fa-solid");
                      // dislikeIcon.classList.remove("active");
                  }
              });
          });
      });
  
      // Beğenmeme butonu
      document.querySelectorAll(".dislike-button").forEach(button => {
          button.addEventListener("click", function() {
              let questionId = this.dataset.id;
              let csrfToken = "{{ csrf_token }}";
  
              fetch(`/dislike/${questionId}/`, {
                  method: "POST",
                  headers: {
                      "X-CSRFToken": csrfToken,
                      "Content-Type": "application/json"
                  }
              })
              .then(response => response.json())
              .then(data => {
                  if (data.success) {
                      document.getElementById(`like-count-${questionId}`).textContent = data.like_count;
                      document.getElementById(`dislike-count-${questionId}`).textContent = data.dislike_count;
  
                      let likeIcon = document.getElementById(`like-icon-${questionId}`);
                      let dislikeIcon = document.getElementById(`dislike-icon-${questionId}`);
  
                      if (data.disliked) {
                          dislikeIcon.classList.add("fa-solid");
                          dislikeIcon.classList.add("active");
                          dislikeIcon.style.color = "#000";
                      } else {
                          // dislikeIcon.classList.remove("fa-solid");
                          dislikeIcon.classList.remove("active");
                          dislikeIcon.style.color = "#824458";
                      }
  
                      likeIcon.classList.remove("fa-solid");
                      likeIcon.classList.add("fa-regular");
                      // likeIcon.classList.remove("active");
                  }
              });
          });
      });
  });
  </script>


<script>
  document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll("input[type=radio]").forEach(radio => {
          radio.addEventListener("change", function() {
              let questionId = this.name.split("_")[1]; 
              let optionId = this.value;
              let csrfToken = "{{ csrf_token }}";

  
              fetch(`/vote/${questionId}/${optionId}/`, {
                  method: "POST",
                  headers: {
                      "X-CSRFToken": csrfToken,
                      "Content-Type": "application/json"
                  }
              })
              .then(response => {
                  console.log("🔹 Server Response:", response);
                  return response.json();
              })
              .then(data => {
                  if (data.success) {
                      console.log("✅ Başarılı oy kullanıldı:", data);
  
                      // Yüzdelik oranları güncelle
                      Object.keys(data.percentages).forEach(optionId => {
                          let progressBar = document.querySelector(`#progress-${optionId}`);
                          let percentageText = document.querySelector(`#percentage-${optionId}`);
  
                          if (progressBar && percentageText) {
                              progressBar.style.width = data.percentages[optionId] + "%";
                              percentageText.innerText = data.percentages[optionId] + "%";
                          }
                      });
                  } else {
                      console.error("❌ Hata:", data.message);
                      alert("Hata: " + data.message);
                  }
              })
              .catch(error => console.error("❌ Fetch Hatası:", error));
          });
      });
  });
  </script>
{% endblock content %}