<style>
@media screen and (max-width: 450px) {
  div.d-flex.justify-content-between.align-items-center.pt-4 > div.d-flex.gap-4 {
    gap: 0.5rem !important;
  }
  div.d-flex.justify-content-between.align-items-center.pt-4 > div.d-flex.align-items-center.gap-3 {
    gap: 0.25rem !important;
  }
}
</style>
<div class="row justify-content-center">
    <div class="col-12 col-xl-8">
      <div class="py-4">
        <div class="d-flex flex-column gap-4 asked-listing" style="gap: 2.5rem !important;">
          {% for question in request.user.questions.all %}    
          <div class="question-card">
            <div class="question-card-category">
              <p>{{question.subcategory.name}}</p>
            </div>
            <div class="question-card-date">
              <p>{{ question.created_at|date:"d.m.Y" }}</p>
            </div>
            <h3 class="question-card-title pb-2">
              
              
              <a href="{% url 'tuerny_app:ask' question.id %}" style="color: #202020; font-weight: 400;">{{question.title}}</a>
              
            </h3>
            <p class="question-card-text py-2" style="color: #414141; line-height: 130%; margin-bottom: 20px;">{{question.description}}</p>
  
            <div class="d-flex justify-content-between align-items-center pt-4">
              <div class="d-flex gap-4">
                <div class="question-card-button">
                  <i class="fa-regular fa-eye question-card-button-icon"></i>
                  <span class="question-card-button-text"
                    >{{question.views_count}}</span
                  >
                </div>
                <div class="question-card-button">
                  <i class="fa-regular fa-message question-card-button-icon"></i>
                  <span class="question-card-button-text">{{question.comments.count}}</span>
                </div>
              </div>
              <div class="d-flex align-items-center gap-3">
                <div class="question-card-button">
                  <i {% if request.user in question.dislikes.all %}style="cursor: pointer; color: rgb(130, 68, 88);"{% else %}style="cursor: pointer;"{% endif %}  data-id="{{ question.id }}"
                     id="dislike-icon-{{ question.id }}"
                     class="fa-solid fa-heart-crack question-card-button-icon dislike-button {% if request.user in question.dislikes.all %}active{% endif %}"></i>
                  <span id="dislike-count-{{ question.id }}">{{ question.dislike_count }}</span>
              </div>
          
              <div class="question-card-rate-line-container">
                  <div class="question-card-rate-line">
                      <div class="rate-line-dislike" id="rate-dislike-{{ question.id }}"></div>
                      <div class="rate-line-like" id="rate-like-{{ question.id }}"></div>
                  </div>
              </div>
          
              <!-- Beğeni Butonu -->
              <div class="question-card-button">
                  <i style="cursor: pointer" data-id="{{ question.id }}"
                     id="like-icon-{{ question.id }}"
                     class="{% if request.user in question.likes.all %}fa-solid {% else %} fa-regular{% endif %} fa-heart question-card-button-icon like-button {% if request.user in question.likes.all %}active{% endif %}"></i>
                  <span id="like-count-{{ question.id }}">{{ question.like_count }}</span>
              </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
              <div class="hstack justify-content-center mt-5">
                <button
                  data-start="9"
                  class="teurny-button-primary-outline saved-more-ask"
                  style="width: 383px; height: 39px"
                >
                  DAHA FAZLA
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>