{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container py-5">
    <div class="row justify-content-around">
        <div class="col-lg-6 p-0">
            <div class="d-flex flex-column gap-4">
                <div class="text-center d-flex flex-column gap-2">
                    <p class="blog-category" style="margin-bottom: 12px;">{{blog_.category.name}}</p>
                    <h1 class="blog-title fw-normal">
                        {{blog_.title}}
                    </h1>
                    <p class="blog-text">
                        {{blog_.short_description | safe}}
                    </p>
                    <p class="blog-author text-uppercase">BY  {{blog_.author}}</p>
                </div>

                <div>
                    <div class="ratio-16x9">
                        <img src="{{blog_.media.url}}" class="w-100 h-100 object-fit-cover" />
                    </div>
                    
                    <div class="blog-buttons d-flex gap-0 justify-content-end mt-3">
                        <div class="share-container">
                            <a href="#" class="share-btn">
                                <svg width="44" height="44" viewBox="0 0 44 44" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M34.2267 13.6443L6.99986 13.838L18.1526 22.9247M34.2267 13.6443L20.3724 37L18.1526 22.9247M34.2267 13.6443L18.1526 22.9247"
                                        stroke="#414141" stroke-width="1.16919" stroke-linejoin="round" />
                                </svg>
                            </a>
                            <div class="social-menu">
                                <a href="#" class="social-btn facebook"
                                    data-url="/blog-detail/<?= $row->slug ?>">Facebook</a>
                                <a href="#" class="social-btn twitter"
                                    data-url="/blog-detail/{{blog_.slug}}">Twitter</a>
                                <a href="#" class="social-btn linkedin"
                                    data-url="/blog-detail/<?= $row->slug ?>">LinkedIn</a>
                            </div>
                        </div>
                        {% if blog_ in saved_blog %}
                        <a data-id="{{ blog_.id }}" href="javascript:void(0)" class="saved">
                          <i class="fa-solid fa-bookmark"></i>
                        </a>
                      {% else %}
                        <a data-id="{{ blog_.id }}" href="javascript:void(0)" class="unsaved">
                          <i class="fa-regular fa-bookmark"></i>
                        </a>
                      {% endif %}
                            
                    </div>

                    <style>
                        .player {
                            cursor: pointer;
                            transition: fill 0.3s;
                        }

                        .playing circle {
                            fill: #ca7c83;
                            
                        }
                    </style>
                    {% if blog_.media_extra %}
                    <div id="player-container">
                        <!-- SVG Icon -->
                        <svg id="player-icon" class="player" width="44" height="44" viewBox="0 0 44 44" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="22" cy="22" r="22" fill="#989491" />
                            <path id="icon-path" d="M26.4805 22.0555L19 26.1111L19 18L26.4805 22.0555Z"
                                fill="#F2F2F2" />
                        </svg>
                    </div>
                    <audio id="audio-player" src="{{blog_.media_extra.url}}"></audio>
                    {% endif %}
                   
                   
                    
                    
                    {% if user.is_authenticated %}
                    <script>
                        const playerIcon = document.getElementById('player-icon');
                        const audioPlayer = document.getElementById('audio-player');
                        const iconPath = document.getElementById('icon-path');

                        // Toggle play/pause and change icon
                        playerIcon.addEventListener('click', () => {
                            if (audioPlayer.paused) {
                                audioPlayer.play();
                                playerIcon.classList.add('playing');
                                // Change to pause icon (rectangle)
                                iconPath.setAttribute('d', 'M18 18H21V26H18V18ZM23 18H26V26H23V18Z');
                            } else {
                                audioPlayer.pause();
                                playerIcon.classList.remove('playing');
                                // Change to play icon (triangle)
                                iconPath.setAttribute('d', 'M26.4805 22.0555L19 26.1111L19 18L26.4805 22.0555Z');
                            }
                        });

                        // Reset to play icon when audio ends
                        audioPlayer.addEventListener('ended', () => {
                            playerIcon.classList.remove('playing');
                            iconPath.setAttribute('d', 'M26.4805 22.0555L19 26.1111L19 18L26.4805 22.0555Z');
                        });
                    </script>
                    {% endif %}

                </div>
                <div class="blog-content d-flex flex-column gap-3">
                    {% for content in blog_.contents.all %}
        {% if content.type == "header" %}
        
            <h1>{{ content.text }}</h1>
        {% elif content.type == "subheader" %}
            <h2>{{ content.text}}</h2>
        {% elif content.type == "paragraph" %}
            <p>{{ content.text }}</p>
        {% elif content.type == "image" %}
            <img src="{{ content.image.url }}" alt="Blog Image" style="max-width: 100%; height: auto;">
        {% elif content.type == "video" %}
            <iframe width="100%" height="315" src="{{ content.video }}" frameborder="0" allowfullscreen></iframe>
        {% elif content.type == "product" %}
        <div class="py-5">
            <div class="blog-card-3 product-detail">
                <div class="row edit-special">
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-card-img">
                            <img src="{{content.product.image.url}}" class="w-100 object-fit-cover" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-card-content">
                            <div class="blog-card-content-top">
                                <a href="#" class="blog-card-title stretched-link">{{content.product.title}}</a>
                                <p class="blog-card-text mb-0">
                                    {{content.product.description}}
                                </p>
                            </div>
                            <div class="blog-card-content-bottom justify-content-start">
                                <a href="{{content.product.link}}" class="teurny-footer-btn blog-detail-product-btn"
                                    style="width: 207px;">
                                    DETAYLAR
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
                </div>
                {% if blog_.product %}
                
                <div class="blog-content d-flex flex-column gap-3">
                        <div class="py-5">
                            <div class="blog-card-3 product-detail">
                                <div class="row edit-special">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="blog-card-img">
                                            <img src="{{blog_.product.image.url}}" class="w-100 object-fit-cover" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="blog-card-content">
                                            <div class="blog-card-content-top">
                                                <a href="#" class="blog-card-title stretched-link">{{blog_.product.title}}</a>
                                                <p class="blog-card-text mb-0">
                                                    {{blog_.product.description}}
                                                </p>
                                            </div>
                                            <div class="blog-card-content-bottom justify-content-start">
                                                <a href="{{blog_.product.link}}" class="teurny-footer-btn blog-detail-product-btn"
                                                    style="width: 207px;">
                                                    DETAYLAR
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                
                {% else %}
        
    {% endif %}
    
                <!-- BLOG SECTION 1 -->
               
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex flex-column gap-5 blog-sidebar ps-0 ps-lg-5 mt-5 mt-lg-0">
                <div>
                    <div class="blog-section-title soru">
                        <span>En Çok Okunanlar</span>
                        <div class="blog-section-title-divider"></div>
                        <p></p>
                    </div>

                    <div class="mt-3 d-flex flex-column gap-3">
                        {% for blog in blog %}
                        {% if forloop.counter <= 3 %}
                            <div class="blog-card-5">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <div class="ratio-16x9">
                                            <a href="{% url 'tuerny_app:blog_detail' blog.slug %}">
                                                <img src="{{ blog.media.url }}" class="w-100 h-100 object-fit-cover" alt="{{ blog.title }}">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ps-1 ps-md-0 mt-3 mt-md-0">
                                        <div>
                                            <p class="blog-card-title mb-0">
                                                <a href="{% url 'tuerny_app:blog_detail' blog.slug %}">
                                                    {{ blog.title }}
                                                </a>
                                            </p>
                                            <!-- <p>{{ blog.short_description|truncatechars:100 }}</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div>
                    <div class="blog-section-title soru">
                        <span>Son eklenenler</span>
                        <div class="blog-section-title-divider"></div>
                        <p></p>
                    </div>

                    <div class="mt-3 d-flex flex-column gap-3">
                        {% for blog in blog %}
                        {% if forloop.counter <= 3 %}
                                <div class="blog-card-5">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="ratio-16x9">
                                                <a href="{% url 'tuerny_app:blog_detail' blog.slug %}"><img src="{{ blog.media.url }}"
                                                        class="w-100 h-100 object-fit-cover" /></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 ps-1 ps-md-0 mt-3 mt-md-0">
                                            <div>
                                                <p class="blog-card-title mb-0">
                                                    <a href="{% url 'tuerny_app:blog_detail' blog.slug %}">
                                                        {{ blog.title }}
                                                    </a>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                            {% endif %}
                                {% endfor %}
                    </div>
                    
                
                </div>
                <div style="margin-bottom: 100px;">
                    <div class="blog-section-title soru">
                        <span>Manipüle</span>
                        <div class="blog-section-title-divider"></div>
                        <p></p>
                    </div>

                    <div class="mt-3 d-flex flex-column gap-3">
                        {% for blog in s_blog %}
                        {% if forloop.counter <= 3 %}
                                <div class="blog-card-5">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="ratio-16x9">
                                                <a href="{% url 'tuerny_app:blog_detail' blog.blog.slug %}"><img src="{{ blog.blog.media.url }}"
                                                        class="w-100 h-100 object-fit-cover" /></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 ps-1 ps-md-0 mt-3 mt-md-0">
                                            <div>
                                                <p class="blog-card-title mb-0">
                                                    <a href="{% url 'tuerny_app:blog_detail' blog.blog.slug %}">
                                                        {{ blog.blog.title }}
                                                    </a>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                            {% endif %}
                                {% endfor %}
                    </div>
                <div style="margin-bottom: 100px; margin-top: 100px;">
                    <div class="blog-section-title soru">
                        <span>Manipüle</span>
                        <div class="blog-section-title-divider"></div>
                        <p></p>
                    </div>

                    <div class="mt-3 d-flex flex-column gap-3">
                        <img src="{% static 'tuerny_app/images/vertical-ad.jpg' %}" alt="">
                                </div>
                               
                    </div>
            </div>




            
        </div>




        
    </div>
    </div>
    {% if blog_.extra_product %}
    {% for product in blog_.extra_product.all %}
        <div class="d-flex flex-column gap-4 py-5">
            <div class="">
                <span style="    font-family: Playfair Display;
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: 20.8px;
color: #8F4D61;">Teurny Önerileri</span>
                <p></p>
            </div>
            <div>
                <div class="blog-card-slider">
                        <div class="">
                            <div class="blog-card-1">
                                <div class="ratio-1">
                                    <a href="#"> <img src="{{product.image.url}}" class="w-100 h-100 object-fit-cover" /></a>
                                </div>
                                <a href="#" class="blog-card-title mb-0 stretched-link">
                                    {{product.title}}
                                </a>
                            </div>
                        </div>
                        <div class="">
                            <div class="blog-card-1">
                                <div class="ratio-1">
                                    <a href="#"> <img src="{{product.image.url}}" class="w-100 h-100 object-fit-cover" /></a>
                                </div>
                                <a href="#" class="blog-card-title mb-0 stretched-link">
                                    {{product.title}}
                                </a>
                            </div>
                        </div>
                        <div class="">
                            <div class="blog-card-1">
                                <div class="ratio-1">
                                    <a href="#"> <img src="{{product.image.url}}" class="w-100 h-100 object-fit-cover" /></a>
                                </div>
                                <a href="#" class="blog-card-title mb-0 stretched-link">
                                    {{product.title}}
                                </a>
                            </div>
                        </div>
                        <div class="">
                            <div class="blog-card-1">
                                <div class="ratio-1">
                                    <a href="#"> <img src="{{product.image.url}}" class="w-100 h-100 object-fit-cover" /></a>
                                </div>
                                <a href="#" class="blog-card-title mb-0 stretched-link">
                                    {{product.title}}
                                </a>
                            </div>
                        </div>
                        <div class="">
                            <div class="blog-card-1">
                                <div class="ratio-1">
                                    <a href="#"> <img src="{{product.image.url}}" class="w-100 h-100 object-fit-cover" /></a>
                                </div>
                                <a href="#" class="blog-card-title mb-0 stretched-link">
                                    {{product.title}}
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}


       
    {% endif %}

    <div class="blog-comment">
        <div class="blog-section-title soru" style="margin-bottom: 24px;">
          <span style="color: #989491; ;">Yorumlar</span>
          <div class="blog-section-title-divider"></div>
          <p></p>
        </div>

        
        {% for comment in blog_.comments.all %}
        <div class="mt-5 d-flex flex-column gap-3" style="margin-top: 24px !important;">
                    <div class="blog-comment-item">
                        {% if comment.anonymous %}
                        <p class="blog-comment-item-author">Kullanıcı adı gizli</p>
                        {% else %}
                        <p class="blog-comment-item-author">@{{comment.user.username}}</p>
                        {% endif %}
                            
                            
                        <p class="blog-comment-item-text">
                            {{comment.content}}
                        </p>
                    </div>
                    <div class="teurny-divider"></div>

                   
        </div>
        {% endfor %}
        <a href=""><h1 style="font-family: 'Poppins'; font-weight: 400; font-size: 14px; line-height: 130%; margin-top: 24px;">Devamını Gör</h1></a>
          <form method="POST" class="ajaxFormTrue" action="{% url 'tuerny_app:add_blog_comment' %}">
              {% csrf_token %}
              <input type="hidden" name="type" value="blog">
              <input type="hidden" name="blog_id" value="{{ blog_.id }}">
              <input type="hidden" name="parent" value="0">
              <textarea name="content" class="teurny-input w-100 vRequired" rows="10"
                  placeholder="Yorum" required></textarea>


              <div class="d-flex gap-3 mt-4">
                  <div>
                      <label for="cb-1" class="teurny-checkbox">
                          <input name="hidden_user_name" type="checkbox" id="cb-1" class="d-none" />
                          <div class="teurny-checkbox-inner"></div>
                      </label>
                  </div>
                  <div>
                      <p class="fw-semibold font-roboto blog-comment-checkbox-label mb-1">
                          KULLANICI ADINI GİZLE
                      </p>
                      <p class="font-roboto blog-comment-checkbox-text">
                          Bu gönderi için kullanıcı adını gizlenecek
                      </p>
                  </div>
              </div>
              <div class="col-md-12 vAjaxErrors"></div>
              <button type="submit" class="teurny-footer-btn mt-4">Gönder</button>

          </form>

      </div>
    <div class="blog-section-1 py-5 section-5 d-none d-lg-block">
        <div class="container d-flex flex-column gap-4">
          <div class="blog-section-title px-2">
            <span>Öneriler</span>
            <div class="blog-section-title-divider"></div>
          </div>
          <div>
            <div class="blog-card-slider-3">
              {% for blog in s_blog %}
              
              <div class="px-2">
                <div class="blog-card-1 mw-100">
                  <a href="{% url 'tuerny_app:blog_detail' blog.blog.slug %}">
                    <img
                      src="{{blog.blog.media.url}}"
                      class="w-100 object-fit-cover"
                      style="height: 300px; max-height: 100%"
                    />
                  </a>
                  <span class="blog-card-category">{{blog.category.name}}</span>
                  <a href="{% url 'tuerny_app:blog_detail' blog.blog.slug %}" class="blog-card-title mb-0 stretched-link">
                    {{blog.title}}
                  </a>
                </div>
              </div>
              
              {% endfor %}
      
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a class="home-btn" href="{% url 'tuerny_app:category' 'iliskiler' %}">Daha Fazla</a>
          </div>
        </div>
      </div>
</div>

  <div
    class="modal fade"
    id="searchModal"
    tabindex="-1"
    aria-labelledby="searchModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-8">
                <form method="GET" action="/search">
                  <div>
                    <div
                      class="border py-2 ps-3 pe-2 d-flex align-items-center"
                    >
                      <i class="fa-solid fa-magnifying-glass fs-4"></i>
                      <div class="flex-grow-1 ps-3">
                        <input
                          name="keyword"
                          type="text"
                          class="teurny-input border-0 w-100"
                          placeholder="Ara..."
                        />
                      </div>
                      <button
                        type="submit"
                        class="teurny-button-secondary w-auto"
                      >
                        ARA
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
    const commentForm = document.querySelector(".ajaxFormTrue");

    if (commentForm) {
        commentForm.addEventListener("submit", function (e) {
            e.preventDefault(); // Sayfanın yenilenmesini engelle

            let formData = new FormData(commentForm); // Form verilerini al
            let actionUrl = "{% url 'tuerny_app:add_blog_comment' %}"; // Django `urls.py` içindeki endpoint

            fetch(actionUrl, {
                method: "POST",
                body: formData,
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                },
            })
                .then(response => response.text())
                .then(data => {
                    // Eğer sunucudan hata içeren HTML gelirse, sayfa yenilenmeyebilir
                    console.log("Yorum başarıyla eklendi!");
                    location.reload(); // Yorum eklendiğinde sayfayı yenile
                })
                .catch(error => {
                    console.error("Bağlantı Hatası:", error);
                    alert("Sunucuyla bağlantı kurulamadı!");
                });
                
        });
    }
});
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll(".saved, .unsaved").forEach(button => {
          button.addEventListener("click", function() {
              let blogId = this.getAttribute("data-id");
              let isSaved = this.classList.contains("saved");  // Eğer kaydedilmişse kaldır, değilse kaydet
  
              fetch("{% url 'tuerny_app:save_blog' %}", {
                  method: "POST",
                  headers: {
                      "X-CSRFToken": "{{ csrf_token }}",
                      "Content-Type": "application/json"
                  },
                  body: JSON.stringify({ blog_id: blogId })
              })
              .then(response => response.json())
              .then(data => {
                  if (data.status === "saved") {
                      this.classList.remove("unsaved");
                      this.classList.add("saved");
                      this.innerHTML = '<i class="fa-solid fa-bookmark"></i>'; // Dolgu bookmark ikonu
                  } else if (data.status === "unsaved") {
                      this.classList.remove("saved");
                      this.classList.add("unsaved");
                      this.innerHTML = '<i class="fa-regular fa-bookmark"></i>'; // Boş bookmark ikonu
                  }
              })
              .catch(error => console.error("Error:", error));
          });
      });
  });
  </script>
{% endblock content %}