{% extends 'base.html' %} {% load static %} {% block content %}
<style>
  .max-line-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 83.2px;
    line-height: 41.6px !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .max-line-5 {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 41.6px;
    line-height: 41.6px !important;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .max-line-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 41.6px;
    line-height: 20.8px !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  .max-line-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 20.8px;
    line-height: 20.8px !important;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  body > div.wrapper > div.category-content > div:nth-child(4) > div {
    overflow-x: clip;
  }
  .social-menu {
    left: -20px;
    top: -120px;
  }

</style>
<style>
  @media screen and (max-width: 720px) {
    .blog-card-category {
      margin-bottom: 0px !important;
    }
    .max-line-2 {
      margin-top: 16px;
      line-height: 130% !important;
    }
    .max-line-3 {
      color: #989491 !important;
    }
    .blog-category {
      margin-bottom: 0px !important;
    }
    .blog-card-slider-2 {
      margin-bottom: 20px !important;
    }
    .special-- {
      margin-top: 0px;
      margin-bottom: 10px !important;
    }
    .max-line-4 {
      margin-top: 0px !important;

      font-size: 12px !important;
      line-height: 130% !important;
      color: #989491 !important;

    }
    .blog-card-4 .blog-card-text {
      margin-top: 4px !important;
    }
    .blog-card-4 .blog-card-title {
      margin-top: 8px !important;
    }
    .blog-card-4 .blog-card-img {
      margin-bottom: 8px !important;
    }
  }
  @media screen and (min-width: 721px) {
    .blog-card-category {
      margin-bottom: 20px !important;
    }
    
  }
</style>
<div class="container py-5 category-title">
  <div class="page-title">
    <h1 class="mb-0 fw-normal">{{category.name}}</h1>
  </div>
</div>
<div class="category-content">
  <div class="container">
    <div class="row category-row">
      {% for blog in blogs %}
      <div class="col-md-6 category-box">
        <div class="box-inner">
          <div class="blog-card-4">
            <div class="blog-card-img">
              <a href="{% url 'tuerny_app:blog_detail' blog.slug %}">
                <img
                  src="{{blog.media.url}}"
                  class="w-100 h-100 object-fit-cover"
              /></a>
            </div>
            <div class="blog-card-content">
              <p class="blog-card-category mb-2 bottom" >{{category.name}}</p>
              <a
                href="{% url 'tuerny_app:blog_detail' blog.slug %}"
                class="blog-card-title stretched-link max-line-2"
              >
                {{blog.title}}
              </a>
              <div class="blog-card-text mb-0 mt-3 max-line-3">
                {{blog.short_description}}
              </div>
              <div style="clear: both"></div>
              <div class="blog-card-content-bottom mt-2 mt-md-4">
                <p class="mb-0 blog-card-author text-uppercase">
                  BY Blog Author
                </p>
                <div class="blog-card-buttons gap-0">
                  <div class="share-container">
                    <a href="#" class="share-btn">
                      <svg
                        width="44"
                        height="44"
                        viewBox="0 0 44 44"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M34.2267 13.6443L6.99986 13.838L18.1526 22.9247M34.2267 13.6443L20.3724 37L18.1526 22.9247M34.2267 13.6443L18.1526 22.9247"
                          stroke="#414141"
                          stroke-width="1.16919"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </a>
                    <div class="social-menu">
                      <a href="#" class="social-btn facebook" data-url="#"
                        >Facebook</a
                      >
                      <a href="#" class="social-btn twitter" data-url="#"
                        >Twitter</a
                      >
                      <a href="#" class="social-btn linkedin" data-url="#"
                        >LinkedIn</a
                      >
                    </div>
                  </div>
                  {% if blog in saved_blogs %}
                      <a data-id="{{ blog.id }}" href="javascript:void(0)" class="saved">
                        <svg width="20" height="27" viewBox="0 0 20 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.2105 1H3.96292C2.32907 1 1.007 2.32905 1.01559 3.96288L1.12495 24.7412C1.12862 25.4375 1.6941 26 2.39039 26C2.68251 26 2.96563 25.8989 3.19172 25.714L8.26133 21.5661C9.3249 20.6959 10.8487 20.6762 11.9344 21.5186L17.4188 25.7737C17.6079 25.9204 17.8404 26 18.0797 26C18.6752 26 19.1579 25.5173 19.1579 24.9218V3.94737C19.1579 2.31958 17.8383 1 16.2105 1Z" stroke="#414141" stroke-width="1.47368" stroke-linejoin="round"/>
                          </svg>
                      </a>
                    {% else %}
                      <a data-id="{{ blog.id }}" href="javascript:void(0)" class="unsaved">
                        <svg width="20" height="27" viewBox="0 0 20 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.2105 1H3.96292C2.32907 1 1.007 2.32905 1.01559 3.96288L1.12495 24.7412C1.12862 25.4375 1.6941 26 2.39039 26C2.68251 26 2.96563 25.8989 3.19172 25.714L8.26133 21.5661C9.3249 20.6959 10.8487 20.6762 11.9344 21.5186L17.4188 25.7737C17.6079 25.9204 17.8404 26 18.0797 26C18.6752 26 19.1579 25.5173 19.1579 24.9218V3.94737C19.1579 2.31958 17.8383 1 16.2105 1Z" stroke="#414141" stroke-width="1.47368" stroke-linejoin="round"/>
                          </svg>
                      </a>
                    {% endif %}
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="py-5">
    <div class="blog-section-2 blog-card-slider-2-container" style="overflow-x: clip;">
      <div class="blog-card-slider-2 mb-5">
        {% for e in extra %}
        <div class="px-2">
          <div class="blog-card-1 mw-100">
            <div class="ratio-1">
              <a href="{% url 'tuerny_app:blog_detail' e.blog.slug %}">
                <img
                  src="{{ e.blog.media.url }}"
                  class="w-100 h-100 object-fit-cover"
              /></a>
            </div>
            <div>
              <p
                class="blog-category"
                style="font-size: 14px; margin-bottom: 10px; margin-top: 16px"
              >
              {{ e.blog.category.name }}
              </p>
              <a href="#" class="blog-card-title mb-0 stretched-link spe-text">
                {{ e.blog.title }}
              </a>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <div class="row">
        <div class="col-6">
          <div class="d-flex justify-content-end">
            <div class="px-3 slider-prev">
              <i class="fa-solid fa-chevron-left fs-3"></i>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex justify-content-start">
            <div class="px-3 slider-next">
              <i class="fa-solid fa-chevron-right fs-3"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row category-row">
      {% for blog in second_blogs %}
      <div class="col-md-6 category-box">
        <div class="box-inner">
          <div class="blog-card-4">
            <div class="blog-card-img">
              <a href="{% url 'tuerny_app:blog_detail' blog.slug %}">
                <img
                  src="{{blog.media.url}}"
                  class="w-100 h-100 object-fit-cover"
              /></a>
            </div>
            <div class="blog-card-content">
              <p class="blog-card-category mb-2 max-line-2 special--" style="margin-bottom: 10px;"> {{blog.category.name}}</p>
              <a href="#" class="blog-card-title stretched-link max-line-5">
                {{blog.title}}
              </a>
              <p class="blog-card-text mb-0 mt-3 max-line-4">{{blog.short_description}}</p>
              <div style="clear: both"></div>
              <div class="blog-card-content-bottom mt-2 mt-md-4" style="margin-bottom: 10px;">
                <p class="mb-0 blog-card-author text-uppercase">
                  {{blog.author}}
                </p>
                <div class="blog-card-buttons gap-0">
                  <div class="share-container">
                    <a href="#" class="share-btn">
                      <svg
                        width="44"
                        height="44"
                        viewBox="0 0 44 44"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M34.2267 13.6443L6.99986 13.838L18.1526 22.9247M34.2267 13.6443L20.3724 37L18.1526 22.9247M34.2267 13.6443L18.1526 22.9247"
                          stroke="#414141"
                          stroke-width="1.16919"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </a>
                    <div class="social-menu">
                      <a href="#" class="social-btn facebook" data-url="#"
                        >Facebook</a
                      >
                      <a href="#" class="social-btn twitter" data-url="#"
                        >Twitter</a
                      >
                      <a href="#" class="social-btn linkedin" data-url="#"
                        >LinkedIn</a
                      >
                    </div>
                  </div>
                  {% if blog in saved_blogs %}
                      <a data-id="{{ blog.id }}" href="javascript:void(0)" class="saved">
                        <svg width="20" height="27" viewBox="0 0 20 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.2105 1H3.96292C2.32907 1 1.007 2.32905 1.01559 3.96288L1.12495 24.7412C1.12862 25.4375 1.6941 26 2.39039 26C2.68251 26 2.96563 25.8989 3.19172 25.714L8.26133 21.5661C9.3249 20.6959 10.8487 20.6762 11.9344 21.5186L17.4188 25.7737C17.6079 25.9204 17.8404 26 18.0797 26C18.6752 26 19.1579 25.5173 19.1579 24.9218V3.94737C19.1579 2.31958 17.8383 1 16.2105 1Z" stroke="#414141" stroke-width="1.47368" stroke-linejoin="round"/>
                          </svg>
                      </a>
                    {% else %}
                      <a data-id="{{ blog.id }}" href="javascript:void(0)" class="unsaved">
                        <svg width="20" height="27" viewBox="0 0 20 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.2105 1H3.96292C2.32907 1 1.007 2.32905 1.01559 3.96288L1.12495 24.7412C1.12862 25.4375 1.6941 26 2.39039 26C2.68251 26 2.96563 25.8989 3.19172 25.714L8.26133 21.5661C9.3249 20.6959 10.8487 20.6762 11.9344 21.5186L17.4188 25.7737C17.6079 25.9204 17.8404 26 18.0797 26C18.6752 26 19.1579 25.5173 19.1579 24.9218V3.94737C19.1579 2.31958 17.8383 1 16.2105 1Z" stroke="#414141" stroke-width="1.47368" stroke-linejoin="round"/>
                          </svg>
                          
                      </a>
                    {% endif %}
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

  <div class="py-5">
    <div class="blog-section-2 blog-card-slider-2-container" style="overflow-x: clip;">
      <div class="image-slider mb-5">
        {% for i in insta %}
        <div class="px-2">
          <div class="ratio-1">
            <a href="{{i.post_url}}" target="_blank">
              <img
                src="{{i.image.url}}"
                class="w-100 h-100 object-fit-cover"
              />
            </a>
          </div>
        </div>
{% endfor %}
      </div>
      <div class="row justify-content-center">
        
         
            <a style="text-align: center; width: 310px" href="https://www.instagram.com/teurny/" class="teurny-footer-btn">
              <i class="fa-brands fa-instagram"></i>
              <span>TAKİP ET</span>
            </a>
          
        
      </div>
    </div>
  </div>

  <div class="container">
    
    <div class="row category-row">
      {% for blog in third_blogs %}
      <div class="col-sm-6 col-lg-4 category-box">
        <div class="box-inner">
          <div class="blog-card-4">
            <div class="blog-card-img">
              <a href="{% url 'tuerny_app:blog_detail' blog.slug %}">
                <img
                  src="{{blog.media.url}}"
                  class="w-100 h-100 object-fit-cover"
              /></a>
            </div>
            <div class="blog-card-content">
              <p class="blog-card-category mb-2">{{blog.category.name}}</p>
              <a href="#" class="blog-card-title stretched-link max-line-5">
                {{blog.title}}
              </a>
              <p class="blog-card-text mb-0 mt-3 max-line-4">{{blog.short_description}}</p>
              <div class="blog-card-content-bottom mt-2 mt-md-4">
                <p class="mb-0 blog-card-author">{{blog.author}}</p>
                <div class="blog-card-buttons gap-0">
                  <div class="share-container">
                    <a href="#" class="share-btn">
                      <svg
                        width="44"
                        height="44"
                        viewBox="0 0 44 44"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M34.2267 13.6443L6.99986 13.838L18.1526 22.9247M34.2267 13.6443L20.3724 37L18.1526 22.9247M34.2267 13.6443L18.1526 22.9247"
                          stroke="#414141"
                          stroke-width="1.16919"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </a>
                    <div class="social-menu">
                      <a href="#" class="social-btn facebook" data-url="#"
                        >Facebook</a
                      >
                      <a href="#" class="social-btn twitter" data-url="#"
                        >Twitter</a
                      >
                      <a href="#" class="social-btn linkedin" data-url="#"
                        >LinkedIn</a
                      >
                    </div>
                  </div>
                  {% if blog in saved_blogs %}
                      <a data-id="{{ blog.id }}" href="javascript:void(0)" class="saved">
                        <svg width="20" height="27" viewBox="0 0 20 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.2105 1H3.96292C2.32907 1 1.007 2.32905 1.01559 3.96288L1.12495 24.7412C1.12862 25.4375 1.6941 26 2.39039 26C2.68251 26 2.96563 25.8989 3.19172 25.714L8.26133 21.5661C9.3249 20.6959 10.8487 20.6762 11.9344 21.5186L17.4188 25.7737C17.6079 25.9204 17.8404 26 18.0797 26C18.6752 26 19.1579 25.5173 19.1579 24.9218V3.94737C19.1579 2.31958 17.8383 1 16.2105 1Z" stroke="#414141" stroke-width="1.47368" stroke-linejoin="round"/>
                          </svg>
                      </a>
                    {% else %}
                      <a data-id="{{ blog.id }}" href="javascript:void(0)" class="unsaved">
                        <svg width="20" height="27" viewBox="0 0 20 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.2105 1H3.96292C2.32907 1 1.007 2.32905 1.01559 3.96288L1.12495 24.7412C1.12862 25.4375 1.6941 26 2.39039 26C2.68251 26 2.96563 25.8989 3.19172 25.714L8.26133 21.5661C9.3249 20.6959 10.8487 20.6762 11.9344 21.5186L17.4188 25.7737C17.6079 25.9204 17.8404 26 18.0797 26C18.6752 26 19.1579 25.5173 19.1579 24.9218V3.94737C19.1579 2.31958 17.8383 1 16.2105 1Z" stroke="#414141" stroke-width="1.47368" stroke-linejoin="round"/>
                          </svg>
                          
                      </a>
                    {% endif %}
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

  <div
    class="modal fade"
    id="searchModal"
    tabindex="-1"
    aria-labelledby="searchModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-8">
                <form method="GET" action="{% url 'tuerny_app:question' %}">
                  <div>
                    <div
                      class="border py-2 ps-3 pe-2 d-flex align-items-center"
                    >
                      <i class="fa-solid fa-magnifying-glass fs-4"></i>
                      <div class="flex-grow-1 ps-3">
                        <input
                          name="keyword"
                          type="text"
                          class="teurny-input border-0 w-100"
                          placeholder="Ara..."
                        />
                      </div>
                      <button
                        type="submit"
                        class="teurny-button-secondary w-auto"
                      >
                        ARA
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll(".saved, .unsaved").forEach(button => {
          button.addEventListener("click", function() {
              
              let blogId = this.getAttribute("data-id");
              let isSaved = this.classList.contains("saved");  // Eğer kaydedilmişse kaldır, değilse kaydet
  
              fetch("{% url 'tuerny_app:save_blog' %}", {
                  method: "POST",
                  headers: {
                      "X-CSRFToken": "{{ csrf_token }}",
                      "Content-Type": "application/json"
                  },
                  body: JSON.stringify({ blog_id: blogId })
              })
              .then(response => response.json())
              .then(data => {
                  if (data.status === "saved") {
                    console.log("dp")
                      this.classList.remove("unsaved");
                      this.classList.add("saved");
                      this.innerHTML = `<svg width="20" height="27" viewBox="0 0 20 27" fill="rgb(130,68,68)" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.2105 1H3.96292C2.32907 1 1.007 2.32905 1.01559 3.96288L1.12495 24.7412C1.12862 25.4375 1.6941 26 2.39039 26C2.68251 26 2.96563 25.8989 3.19172 25.714L8.26133 21.5661C9.3249 20.6959 10.8487 20.6762 11.9344 21.5186L17.4188 25.7737C17.6079 25.9204 17.8404 26 18.0797 26C18.6752 26 19.1579 25.5173 19.1579 24.9218V3.94737C19.1579 2.31958 17.8383 1 16.2105 1Z" stroke="rgb(130,68,68)" stroke-width="1.47368" stroke-linejoin="round"/>
                                </svg>`; // Dolgu bookmark ikonu
                  } else if (data.status === "unsaved") {
                      this.classList.remove("saved");
                      this.classList.add("unsaved");
                      this.innerHTML = `<svg width="20" height="27" viewBox="0 0 20 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.2105 1H3.96292C2.32907 1 1.007 2.32905 1.01559 3.96288L1.12495 24.7412C1.12862 25.4375 1.6941 26 2.39039 26C2.68251 26 2.96563 25.8989 3.19172 25.714L8.26133 21.5661C9.3249 20.6959 10.8487 20.6762 11.9344 21.5186L17.4188 25.7737C17.6079 25.9204 17.8404 26 18.0797 26C18.6752 26 19.1579 25.5173 19.1579 24.9218V3.94737C19.1579 2.31958 17.8383 1 16.2105 1Z" stroke="#414141" stroke-width="1.47368" stroke-linejoin="round"/>
                  </svg>`; // Boş bookmark ikonu
                  }
              })
              .catch(error => console.error("Error:", error));
          });
      });
  });
  </script>
  
  {% endblock content %}
</div>
