{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container py-5 category-title">
  <div class="page-title">
    <h1 class="mb-0 fw-normal">{{category.name}}</h1>
  </div>
</div>
<div class="category-content">
  <div class="container">
    <div class="row category-row">
      {% for blog in blogs %}
      <div class="col-md-6 category-box">
        <div class="box-inner">
          <div class="blog-card-4">
            <div class="blog-card-img">
              <a href="{% url 'tuerny_app:blog_detail' blog.slug %}">
                <img
                  src="{{blog.media.url}}"
                  class="w-100 h-100 object-fit-cover"
              /></a>
            </div>
            <div class="blog-card-content">
              <p class="blog-card-category mb-2">{{category.name}}</p>
              <a
                href="{% url 'tuerny_app:blog_detail' blog.slug %}"
                class="blog-card-title stretched-link"
              >
                {{blog.title}}
              </a>
              <div class="blog-card-text mb-0 mt-3">
                {{blog.short_description | safe}}
              </div>
              <div style="clear: both"></div>
              <div class="blog-card-content-bottom mt-2 mt-md-4">
                <p class="mb-0 blog-card-author text-uppercase">
                  BY Blog Author
                </p>
                <div class="blog-card-buttons gap-0">
                  <div class="share-container">
                    <a href="#" class="share-btn">
                      <svg
                        width="44"
                        height="44"
                        viewBox="0 0 44 44"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M34.2267 13.6443L6.99986 13.838L18.1526 22.9247M34.2267 13.6443L20.3724 37L18.1526 22.9247M34.2267 13.6443L18.1526 22.9247"
                          stroke="#414141"
                          stroke-width="1.16919"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </a>
                    <div class="social-menu">
                      <a href="#" class="social-btn facebook" data-url="#"
                        >Facebook</a
                      >
                      <a href="#" class="social-btn twitter" data-url="#"
                        >Twitter</a
                      >
                      <a href="#" class="social-btn linkedin" data-url="#"
                        >LinkedIn</a
                      >
                    </div>
                  </div>
                  {% if blog in saved_blogs %}
                      <a data-id="{{ blog.id }}" href="javascript:void(0)" class="saved">
                        <i class="fa-solid fa-bookmark"></i>
                      </a>
                    {% else %}
                      <a data-id="{{ blog.id }}" href="javascript:void(0)" class="unsaved">
                        <i class="fa-regular fa-bookmark"></i>
                      </a>
                    {% endif %}
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="py-5">
    <div class="blog-section-2 blog-card-slider-2-container">
      <div class="blog-card-slider-2 mb-5">
        {% for e in extra %}
        <div class="px-2">
          <div class="blog-card-1 mw-100">
            <div class="ratio-1">
              <a href="{% url 'tuerny_app:blog_detail' e.blog.slug %}">
                <img
                  src="{{ e.blog.media.url }}"
                  class="w-100 h-100 object-fit-cover"
              /></a>
            </div>
            <div>
              <p
                class="blog-category"
                style="font-size: 14px; margin-bottom: 10px; margin-top: 16px"
              >
              {{ e.blog.category.name }}
              </p>
              <a href="#" class="blog-card-title mb-0 stretched-link">
                {{ e.blog.title }}
              </a>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <div class="row">
        <div class="col-6">
          <div class="d-flex justify-content-end">
            <div class="px-3 slider-prev">
              <i class="fa-solid fa-chevron-left fs-3"></i>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex justify-content-start">
            <div class="px-3 slider-next">
              <i class="fa-solid fa-chevron-right fs-3"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row category-row">
      {% for blog in second_blogs %}
      <div class="col-md-6 category-box">
        <div class="box-inner">
          <div class="blog-card-4">
            <div class="blog-card-img">
              <a href="{% url 'tuerny_app:blog_detail' blog.slug %}">
                <img
                  src="{{blog.media.url}}"
                  class="w-100 h-100 object-fit-cover"
              /></a>
            </div>
            <div class="blog-card-content">
              <p class="blog-card-category mb-2"> {{blog.category.name}}</p>
              <a href="#" class="blog-card-title stretched-link">
                {{blog.title}}
              </a>
              <p class="blog-card-text mb-0 mt-3"> {{blog.short_description | safe}}</p>
              <div style="clear: both"></div>
              <div class="blog-card-content-bottom mt-2 mt-md-4">
                <p class="mb-0 blog-card-author text-uppercase">
                  {{blog.author}}
                </p>
                <div class="blog-card-buttons gap-0">
                  <div class="share-container">
                    <a href="#" class="share-btn">
                      <svg
                        width="44"
                        height="44"
                        viewBox="0 0 44 44"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M34.2267 13.6443L6.99986 13.838L18.1526 22.9247M34.2267 13.6443L20.3724 37L18.1526 22.9247M34.2267 13.6443L18.1526 22.9247"
                          stroke="#414141"
                          stroke-width="1.16919"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </a>
                    <div class="social-menu">
                      <a href="#" class="social-btn facebook" data-url="#"
                        >Facebook</a
                      >
                      <a href="#" class="social-btn twitter" data-url="#"
                        >Twitter</a
                      >
                      <a href="#" class="social-btn linkedin" data-url="#"
                        >LinkedIn</a
                      >
                    </div>
                  </div>
                  {% if blog in saved_blogs %}
                      <a data-id="{{ blog.id }}" href="javascript:void(0)" class="saved">
                        <i class="fa-solid fa-bookmark"></i>
                      </a>
                    {% else %}
                      <a data-id="{{ blog.id }}" href="javascript:void(0)" class="unsaved">
                        <i class="fa-regular fa-bookmark"></i>
                      </a>
                    {% endif %}
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

  <div class="py-5">
    <div class="blog-section-2 blog-card-slider-2-container">
      <div class="image-slider mb-5">
        <div class="px-2">
          <div class="ratio-1">
            <a href="#" target="_blank">
              <img
                src="{% static 'tuerny_app/images/9786604.jpeg' %}"
                class="w-100 h-100 object-fit-cover"
              />
            </a>
          </div>
        </div>
        <div class="px-2">
          <div class="ratio-1">
            <a href="#" target="_blank">
              <img
                src="{% static 'tuerny_app/images/4142920.png' %}"
                class="w-100 h-100 object-fit-cover"
              />
            </a>
          </div>
        </div>
        <div class="px-2">
          <div class="ratio-1">
            <a href="#" target="_blank">
              <img
                src="{% static 'tuerny_app/images/9786604.jpeg' %}"
                class="w-100 h-100 object-fit-cover"
              />
            </a>
          </div>
        </div>
        <div class="px-2">
          <div class="ratio-1">
            <a href="#" target="_blank">
              <img
                src="{% static 'tuerny_app/images/4142920.png' %}"
                class="w-100 h-100 object-fit-cover"
              />
            </a>
          </div>
        </div>
        <div class="px-2">
          <div class="ratio-1">
            <a href="#" target="_blank">
              <img
                src="{% static 'tuerny_app/images/9786604.jpeg' %}"
                class="w-100 h-100 object-fit-cover"
              />
            </a>
          </div>
        </div>
        <div class="px-2">
          <div class="ratio-1">
            <a href="#" target="_blank">
              <img
                src="{% static 'tuerny_app/images/4142920.png' %}"
                class="w-100 h-100 object-fit-cover"
              />
            </a>
          </div>
        </div>
        <div class="px-2">
          <div class="ratio-1">
            <a href="#" target="_blank">
              <img
                src="{% static 'tuerny_app/images/9786604.jpeg' %}"
                class="w-100 h-100 object-fit-cover"
              />
            </a>
          </div>
        </div>
        <div class="px-2">
          <div class="ratio-1">
            <a href="#" target="_blank">
              <img
                src="{% static 'tuerny_app/images/4142920.png' %}"
                class="w-100 h-100 object-fit-cover"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10 col-md-3">
          <div class="d-flex justify-content-end">
            <button class="tuerny-button-third">
              <a href="https://www.instagram.com/teurny/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
                <span>TAKİP ET</span>
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    
    <div class="row category-row">
      {% for blog in third_blogs %}
      <div class="col-sm-6 col-lg-4 category-box">
        <div class="box-inner">
          <div class="blog-card-4">
            <div class="blog-card-img">
              <a href="{% url 'tuerny_app:blog_detail' blog.slug %}">
                <img
                  src="{{blog.media.url}}"
                  class="w-100 h-100 object-fit-cover"
              /></a>
            </div>
            <div class="blog-card-content">
              <p class="blog-card-category mb-2">{{blog.category.name}}</p>
              <a href="#" class="blog-card-title stretched-link">
                {{blog.title}}
              </a>
              <p class="blog-card-text mb-0 mt-3">{{blog.short_description | safe}}</p>
              <div class="blog-card-content-bottom mt-2 mt-md-4">
                <p class="mb-0 blog-card-author">{{blog.author}}</p>
                <div class="blog-card-buttons gap-0">
                  <div class="share-container">
                    <a href="#" class="share-btn">
                      <svg
                        width="44"
                        height="44"
                        viewBox="0 0 44 44"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M34.2267 13.6443L6.99986 13.838L18.1526 22.9247M34.2267 13.6443L20.3724 37L18.1526 22.9247M34.2267 13.6443L18.1526 22.9247"
                          stroke="#414141"
                          stroke-width="1.16919"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </a>
                    <div class="social-menu">
                      <a href="#" class="social-btn facebook" data-url="#"
                        >Facebook</a
                      >
                      <a href="#" class="social-btn twitter" data-url="#"
                        >Twitter</a
                      >
                      <a href="#" class="social-btn linkedin" data-url="#"
                        >LinkedIn</a
                      >
                    </div>
                  </div>
                  {% if blog in saved_blogs %}
                      <a data-id="{{ blog.id }}" href="javascript:void(0)" class="saved">
                        <i class="fa-solid fa-bookmark"></i>
                      </a>
                    {% else %}
                      <a data-id="{{ blog.id }}" href="javascript:void(0)" class="unsaved">
                        <i class="fa-regular fa-bookmark"></i>
                      </a>
                    {% endif %}
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

  <div
    class="modal fade"
    id="searchModal"
    tabindex="-1"
    aria-labelledby="searchModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-8">
                <form method="GET" action="/search">
                  <div>
                    <div
                      class="border py-2 ps-3 pe-2 d-flex align-items-center"
                    >
                      <i class="fa-solid fa-magnifying-glass fs-4"></i>
                      <div class="flex-grow-1 ps-3">
                        <input
                          name="keyword"
                          type="text"
                          class="teurny-input border-0 w-100"
                          placeholder="Ara..."
                        />
                      </div>
                      <button
                        type="submit"
                        class="teurny-button-secondary w-auto"
                      >
                        ARA
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll(".saved, .unsaved").forEach(button => {
          button.addEventListener("click", function() {
              
              let blogId = this.getAttribute("data-id");
              let isSaved = this.classList.contains("saved");  // Eğer kaydedilmişse kaldır, değilse kaydet
  
              fetch("{% url 'tuerny_app:save_blog' %}", {
                  method: "POST",
                  headers: {
                      "X-CSRFToken": "{{ csrf_token }}",
                      "Content-Type": "application/json"
                  },
                  body: JSON.stringify({ blog_id: blogId })
              })
              .then(response => response.json())
              .then(data => {
                  if (data.status === "saved") {
                      this.classList.remove("unsaved");
                      this.classList.add("saved");
                      this.innerHTML = '<i class="fa-solid fa-bookmark"></i>'; // Dolgu bookmark ikonu
                  } else if (data.status === "unsaved") {
                      this.classList.remove("saved");
                      this.classList.add("unsaved");
                      this.innerHTML = '<i class="fa-regular fa-bookmark"></i>'; // Boş bookmark ikonu
                  }
              })
              .catch(error => console.error("Error:", error));
          });
      });
  });
  </script>
  
  {% endblock content %}
</div>
