{% extends 'base.html' %}
{% load static %}
{% block content %}
      <div class="container py-5 contracts-container">
        <div class="contracts-content">
          <ul class="nav nav-tabs nav-fill" id="contractsTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="tab1-tab"
                data-bs-toggle="tab"
                data-bs-target="#tab1"
                type="button"
                role="tab"
                aria-controls="tab1"
                aria-selected="true"
              >
                Teurny Üyelik ve Gizlilik Sözleşmesi
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="tab2-tab"
                data-bs-toggle="tab"
                data-bs-target="#tab2"
                type="button"
                role="tab"
                aria-controls="tab2"
                aria-selected="false"
              >
                Kişisel Verilerin İşlenmesi ve Korunması Politikası
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="tab3-tab"
                data-bs-toggle="tab"
                data-bs-target="#tab3"
                type="button"
                role="tab"
                aria-controls="tab3"
                aria-selected="false"
              >
                Kişisel Verilerin İşlenmesi Aydınlatma Metni
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="tab4-tab"
                data-bs-toggle="tab"
                data-bs-target="#tab4"
                type="button"
                role="tab"
                aria-controls="tab4"
                aria-selected="false"
              >
                Çerezler ve Çerez Kullanımı İzinleri Hakkında Bildirim
              </button>
            </li>
          </ul>

          <div class="tab-content" id="contractsTabContent">
            <div
              class="tab-pane fade show active"
              id="tab1"
              role="tabpanel"
              aria-labelledby="tab1-tab"
            >
              <div class="agreement-content">
                <h3>Yayın İlkeleri</h3>
                <p>
                  Teurny.com, pek çok konuda yazarlar, içerik üreticileri ve
                  editörler tarafından hazırlanan, eğlenceli ve bilgilendirici
                  içerikler, anketler ve hizmet sunan bir topluluk platformdur.
                  Kullanıcılarımız, platformda sorularını paylaşabilir ve
                  içeriklere yorum yapabilirler.  Teurny.com İçeriklerinde merak
                  edilenlerin özgürce, saygı ve sevgi çerçevesinde sorulup,
                  konuşulabilmesini destekleriz. İçerik Üreticiler, Yazarlar,
                  Editörler ve Kullanıcılar tarafından yayın ilkelerine uymasını
                  bekleriz.
                </p>

                <h2 class="mid-color-title">
                  İçerik Üretimi ve Yayın Kuralları
                </h2>
                <div class="agreement-list">
                  <ul>
                    <li>
                      Teurny yayın prensipleri gereği 18 yaş altı kişilerin
                      üyelik oluşturamaz ve paylaşımda bulunamaz. Kullanıcıların
                      yaş beyanları gerçek kabul edilir ve 18 yaş altı olduğu
                      tespit edilen kullanıcıların üyeliği silinir.
                    </li>
                    <li>
                      İçeriklerimiz, alanlarında deneyimli yazarlar, editörler
                      ve içerik üreticiler tarafından hazırlanır. Bilgilendirici
                      ve güvenilir bilgilere dayanan içerikler sunmayı esas
                      alırız. Bu doğrultuda içerikler araştırılmadan
                      yayınlanamaz, yazarlar, editörler ve içerik üreticiler
                      kişisel görüş ve yorumlarına yer verebilirler.
                    </li>
                    <li>
                      Editör ve yazar önerileri, kullanıcı yorum ve soruları,
                      yetkili veya uzman tavsiyesi yerine geçmez. Bu noktada,
                      içeriklerimiz yalnızca bilgilendirici amaç taşır.
                    </li>
                    <li>
                      Kullanıcılarımızın gizliliğine büyük önem veririz. Kişisel
                      bilgilerin paylaşılması üyelerin tercihine bırakılmıştır.
                    </li>
                    <li>
                      Kullanıcılar, sorularını göndererek ve içeriklere yorum
                      yaparak Teurny dünyasında aktif bir rol oynayabilirler.
                    </li>
                    <li>
                      Yayınlanan içerikler ve kullanıcı yorumları yasalara uygun
                      olmalıdır. Yasalara aykırı içeriklere ve yorumlara yer
                      verilmez. Yasalar karşısında suç teşkil eden, suça
                      özendiren, kişilik haklarını ihlal eden ve/veya
                      yayınlanması halinde infial yaratabilecek yorumlara
                      müdahale edilir ve tespiti halinde site sözleşmemize uygun
                      şekilde hareket edilir.
                    </li>
                    <li>
                      Farklı yaşam tarzlarına, görüşlere ve deneyimlere saygı
                      gösterilir. Ayrımcılık yapıcı veya hedef gösteren
                      yorumlara izin verilmez. İçeriklerimizde hiç kimseyi;
                      ırkı, cinsiyeti, yaşı, sağlığı, siyasi görüşleri, sosyal
                      düzeyi, toplum görüşü, cinsel yönelimi ve dini inançları
                      açısından aşağılamamaya, ayrıştırmamaya; çocuklar,
                      engelliler, azınlıklar gibi özen gösterilmeye ihtiyaç
                      duyan gruplara bilinçli zarar vermemeye özen gösteririz.
                    </li>
                    <li>
                      Gerçek kişileri ve/ya tüzel kişileri eleştiri adı altında
                      aşağılayan, küçük düşüren, iftira niteliğinde ifadelere
                      yer vermeyiz.
                    </li>
                    <li>
                      Şiddet ve zorbalığı özendirici, insani değerleri incitici
                      içerik yapmaktan kaçınırız.
                    </li>
                    <li>
                      Suçlu olduğu yargı kararıyla belirlenmedikçe hiç kimseyi
                      “suçlu” ilan etmeyiz.
                    </li>
                    <li>
                      İçerik kalitesinin sürekli iyileştirilmesi hedeflenir.
                      Kullanıcı geri bildirimleri dikkate alınarak platform
                      sürekli geliştirilir.
                    </li>
                  </ul>
                </div>

                <h2 class="mid-color-title">Yasal Uyarı</h2>
                <div class="agreement-list">
                  <ul>
                    <li>
                      Teurny.com’da yer alan tüm içerikler ve editör/yazar
                      görüşleri, yalnızca bilgilendirme amaçlıdır ve herhangi
                      bir konuda profesyonel tavsiye veya tedavi önerisi olarak
                      kabul edilmemelidir. Yayınlanan içeriklerin kullanımı ve
                      bu içeriklere dayanılarak yapılan herhangi bir eylem veya
                      karardan kullanıcının kendisi sorumludur.
                    </li>
                  </ul>
                </div>

                <h2 class="mid-color-title">Tarafsızlık İlkelerimiz</h2>
                <div class="agreement-list">
                  <ul>
                    <li>
                      Kullanıcı yorum, hikaye ve sorularının yayınlanmasında
                      tarafsızlık ilkesine bağlı kalır ve farklı görüşlerin
                      özgürce ve saygıyla varolabildiği bir ortam sunarız.
                    </li>
                    <li>
                      Hiçbir dini, siyasi veya toplumsal görüşe daha yakın
                      durmaz, kişisel görüş ve düşüncelerimizi kullanıcı soru ve
                      yorumlarının incelenme sürecinden ayrı tutarız.
                    </li>
                    <li>
                      Çok yönlü bakış açılarına ve objektif içeriklerin
                      üretimini destekler ve önem veririz, her fikre saygı
                      duyulmasını bekleriz.
                    </li>
                    <li>
                      Editörlerimiz, haber ve içerikleri ahlaka aykırı özel amaç
                      ve çıkarlarına alet etmez.
                    </li>
                  </ul>
                </div>

                <p class="mid-color-text">
                  Bu ilkeler, Teurny.com’un kullanıcılarına güvenli ve sağlıklı
                  bir platform sunmak için esas alınmakta, vurgulamakta ve
                  platformun etik standartlarına bağlılığını göstermektedir.
                </p>
              </div>
            </div>

            <div
              class="tab-pane fade"
              id="tab2"
              role="tabpanel"
              aria-labelledby="tab2-tab"
            >
              <div class="agreement-content">
                <h3>Yayın İlkeleri</h3>
                <p>
                  Teurny.com, pek çok konuda yazarlar, içerik üreticileri ve
                  editörler tarafından hazırlanan, eğlenceli ve bilgilendirici
                  içerikler, anketler ve hizmet sunan bir topluluk platformdur.
                  Kullanıcılarımız, platformda sorularını paylaşabilir ve
                  içeriklere yorum yapabilirler.  Teurny.com İçeriklerinde merak
                  edilenlerin özgürce, saygı ve sevgi çerçevesinde sorulup,
                  konuşulabilmesini destekleriz. İçerik Üreticiler, Yazarlar,
                  Editörler ve Kullanıcılar tarafından yayın ilkelerine uymasını
                  bekleriz.
                </p>

                <h2 class="mid-color-title">
                  İçerik Üretimi ve Yayın Kuralları
                </h2>
                <div class="agreement-list">
                  <ul>
                    <li>
                      Teurny yayın prensipleri gereği 18 yaş altı kişilerin
                      üyelik oluşturamaz ve paylaşımda bulunamaz. Kullanıcıların
                      yaş beyanları gerçek kabul edilir ve 18 yaş altı olduğu
                      tespit edilen kullanıcıların üyeliği silinir.
                    </li>
                    <li>
                      İçeriklerimiz, alanlarında deneyimli yazarlar, editörler
                      ve içerik üreticiler tarafından hazırlanır. Bilgilendirici
                      ve güvenilir bilgilere dayanan içerikler sunmayı esas
                      alırız. Bu doğrultuda içerikler araştırılmadan
                      yayınlanamaz, yazarlar, editörler ve içerik üreticiler
                      kişisel görüş ve yorumlarına yer verebilirler.
                    </li>
                    <li>
                      Editör ve yazar önerileri, kullanıcı yorum ve soruları,
                      yetkili veya uzman tavsiyesi yerine geçmez. Bu noktada,
                      içeriklerimiz yalnızca bilgilendirici amaç taşır.
                    </li>
                    <li>
                      Kullanıcılarımızın gizliliğine büyük önem veririz. Kişisel
                      bilgilerin paylaşılması üyelerin tercihine bırakılmıştır.
                    </li>
                    <li>
                      Kullanıcılar, sorularını göndererek ve içeriklere yorum
                      yaparak Teurny dünyasında aktif bir rol oynayabilirler.
                    </li>
                    <li>
                      Yayınlanan içerikler ve kullanıcı yorumları yasalara uygun
                      olmalıdır. Yasalara aykırı içeriklere ve yorumlara yer
                      verilmez. Yasalar karşısında suç teşkil eden, suça
                      özendiren, kişilik haklarını ihlal eden ve/veya
                      yayınlanması halinde infial yaratabilecek yorumlara
                      müdahale edilir ve tespiti halinde site sözleşmemize uygun
                      şekilde hareket edilir.
                    </li>
                    <li>
                      Farklı yaşam tarzlarına, görüşlere ve deneyimlere saygı
                      gösterilir. Ayrımcılık yapıcı veya hedef gösteren
                      yorumlara izin verilmez. İçeriklerimizde hiç kimseyi;
                      ırkı, cinsiyeti, yaşı, sağlığı, siyasi görüşleri, sosyal
                      düzeyi, toplum görüşü, cinsel yönelimi ve dini inançları
                      açısından aşağılamamaya, ayrıştırmamaya; çocuklar,
                      engelliler, azınlıklar gibi özen gösterilmeye ihtiyaç
                      duyan gruplara bilinçli zarar vermemeye özen gösteririz.
                    </li>
                    <li>
                      Gerçek kişileri ve/ya tüzel kişileri eleştiri adı altında
                      aşağılayan, küçük düşüren, iftira niteliğinde ifadelere
                      yer vermeyiz.
                    </li>
                    <li>
                      Şiddet ve zorbalığı özendirici, insani değerleri incitici
                      içerik yapmaktan kaçınırız.
                    </li>
                    <li>
                      Suçlu olduğu yargı kararıyla belirlenmedikçe hiç kimseyi
                      “suçlu” ilan etmeyiz.
                    </li>
                    <li>
                      İçerik kalitesinin sürekli iyileştirilmesi hedeflenir.
                      Kullanıcı geri bildirimleri dikkate alınarak platform
                      sürekli geliştirilir.
                    </li>
                  </ul>
                </div>

                <h2 class="mid-color-title">Yasal Uyarı</h2>
                <div class="agreement-list">
                  <ul>
                    <li>
                      Teurny.com’da yer alan tüm içerikler ve editör/yazar
                      görüşleri, yalnızca bilgilendirme amaçlıdır ve herhangi
                      bir konuda profesyonel tavsiye veya tedavi önerisi olarak
                      kabul edilmemelidir. Yayınlanan içeriklerin kullanımı ve
                      bu içeriklere dayanılarak yapılan herhangi bir eylem veya
                      karardan kullanıcının kendisi sorumludur.
                    </li>
                  </ul>
                </div>

                <h2 class="mid-color-title">Tarafsızlık İlkelerimiz</h2>
                <div class="agreement-list">
                  <ul>
                    <li>
                      Kullanıcı yorum, hikaye ve sorularının yayınlanmasında
                      tarafsızlık ilkesine bağlı kalır ve farklı görüşlerin
                      özgürce ve saygıyla varolabildiği bir ortam sunarız.
                    </li>
                    <li>
                      Hiçbir dini, siyasi veya toplumsal görüşe daha yakın
                      durmaz, kişisel görüş ve düşüncelerimizi kullanıcı soru ve
                      yorumlarının incelenme sürecinden ayrı tutarız.
                    </li>
                    <li>
                      Çok yönlü bakış açılarına ve objektif içeriklerin
                      üretimini destekler ve önem veririz, her fikre saygı
                      duyulmasını bekleriz.
                    </li>
                    <li>
                      Editörlerimiz, haber ve içerikleri ahlaka aykırı özel amaç
                      ve çıkarlarına alet etmez.
                    </li>
                  </ul>
                </div>

                <p class="mid-color-text">
                  Bu ilkeler, Teurny.com’un kullanıcılarına güvenli ve sağlıklı
                  bir platform sunmak için esas alınmakta, vurgulamakta ve
                  platformun etik standartlarına bağlılığını göstermektedir.
                </p>
              </div>
            </div>

            <div
              class="tab-pane fade"
              id="tab3"
              role="tabpanel"
              aria-labelledby="tab3-tab"
            >
              <div class="agreement-content">
                <h3>Yayın İlkeleri</h3>
                <p>
                  Teurny.com, pek çok konuda yazarlar, içerik üreticileri ve
                  editörler tarafından hazırlanan, eğlenceli ve bilgilendirici
                  içerikler, anketler ve hizmet sunan bir topluluk platformdur.
                  Kullanıcılarımız, platformda sorularını paylaşabilir ve
                  içeriklere yorum yapabilirler.  Teurny.com İçeriklerinde merak
                  edilenlerin özgürce, saygı ve sevgi çerçevesinde sorulup,
                  konuşulabilmesini destekleriz. İçerik Üreticiler, Yazarlar,
                  Editörler ve Kullanıcılar tarafından yayın ilkelerine uymasını
                  bekleriz.
                </p>

                <h2 class="mid-color-title">
                  İçerik Üretimi ve Yayın Kuralları
                </h2>
                <div class="agreement-list">
                  <ul>
                    <li>
                      Teurny yayın prensipleri gereği 18 yaş altı kişilerin
                      üyelik oluşturamaz ve paylaşımda bulunamaz. Kullanıcıların
                      yaş beyanları gerçek kabul edilir ve 18 yaş altı olduğu
                      tespit edilen kullanıcıların üyeliği silinir.
                    </li>
                    <li>
                      İçeriklerimiz, alanlarında deneyimli yazarlar, editörler
                      ve içerik üreticiler tarafından hazırlanır. Bilgilendirici
                      ve güvenilir bilgilere dayanan içerikler sunmayı esas
                      alırız. Bu doğrultuda içerikler araştırılmadan
                      yayınlanamaz, yazarlar, editörler ve içerik üreticiler
                      kişisel görüş ve yorumlarına yer verebilirler.
                    </li>
                    <li>
                      Editör ve yazar önerileri, kullanıcı yorum ve soruları,
                      yetkili veya uzman tavsiyesi yerine geçmez. Bu noktada,
                      içeriklerimiz yalnızca bilgilendirici amaç taşır.
                    </li>
                    <li>
                      Kullanıcılarımızın gizliliğine büyük önem veririz. Kişisel
                      bilgilerin paylaşılması üyelerin tercihine bırakılmıştır.
                    </li>
                    <li>
                      Kullanıcılar, sorularını göndererek ve içeriklere yorum
                      yaparak Teurny dünyasında aktif bir rol oynayabilirler.
                    </li>
                    <li>
                      Yayınlanan içerikler ve kullanıcı yorumları yasalara uygun
                      olmalıdır. Yasalara aykırı içeriklere ve yorumlara yer
                      verilmez. Yasalar karşısında suç teşkil eden, suça
                      özendiren, kişilik haklarını ihlal eden ve/veya
                      yayınlanması halinde infial yaratabilecek yorumlara
                      müdahale edilir ve tespiti halinde site sözleşmemize uygun
                      şekilde hareket edilir.
                    </li>
                    <li>
                      Farklı yaşam tarzlarına, görüşlere ve deneyimlere saygı
                      gösterilir. Ayrımcılık yapıcı veya hedef gösteren
                      yorumlara izin verilmez. İçeriklerimizde hiç kimseyi;
                      ırkı, cinsiyeti, yaşı, sağlığı, siyasi görüşleri, sosyal
                      düzeyi, toplum görüşü, cinsel yönelimi ve dini inançları
                      açısından aşağılamamaya, ayrıştırmamaya; çocuklar,
                      engelliler, azınlıklar gibi özen gösterilmeye ihtiyaç
                      duyan gruplara bilinçli zarar vermemeye özen gösteririz.
                    </li>
                    <li>
                      Gerçek kişileri ve/ya tüzel kişileri eleştiri adı altında
                      aşağılayan, küçük düşüren, iftira niteliğinde ifadelere
                      yer vermeyiz.
                    </li>
                    <li>
                      Şiddet ve zorbalığı özendirici, insani değerleri incitici
                      içerik yapmaktan kaçınırız.
                    </li>
                    <li>
                      Suçlu olduğu yargı kararıyla belirlenmedikçe hiç kimseyi
                      “suçlu” ilan etmeyiz.
                    </li>
                    <li>
                      İçerik kalitesinin sürekli iyileştirilmesi hedeflenir.
                      Kullanıcı geri bildirimleri dikkate alınarak platform
                      sürekli geliştirilir.
                    </li>
                  </ul>
                </div>

                <h2 class="mid-color-title">Yasal Uyarı</h2>
                <div class="agreement-list">
                  <ul>
                    <li>
                      Teurny.com’da yer alan tüm içerikler ve editör/yazar
                      görüşleri, yalnızca bilgilendirme amaçlıdır ve herhangi
                      bir konuda profesyonel tavsiye veya tedavi önerisi olarak
                      kabul edilmemelidir. Yayınlanan içeriklerin kullanımı ve
                      bu içeriklere dayanılarak yapılan herhangi bir eylem veya
                      karardan kullanıcının kendisi sorumludur.
                    </li>
                  </ul>
                </div>

                <h2 class="mid-color-title">Tarafsızlık İlkelerimiz</h2>
                <div class="agreement-list">
                  <ul>
                    <li>
                      Kullanıcı yorum, hikaye ve sorularının yayınlanmasında
                      tarafsızlık ilkesine bağlı kalır ve farklı görüşlerin
                      özgürce ve saygıyla varolabildiği bir ortam sunarız.
                    </li>
                    <li>
                      Hiçbir dini, siyasi veya toplumsal görüşe daha yakın
                      durmaz, kişisel görüş ve düşüncelerimizi kullanıcı soru ve
                      yorumlarının incelenme sürecinden ayrı tutarız.
                    </li>
                    <li>
                      Çok yönlü bakış açılarına ve objektif içeriklerin
                      üretimini destekler ve önem veririz, her fikre saygı
                      duyulmasını bekleriz.
                    </li>
                    <li>
                      Editörlerimiz, haber ve içerikleri ahlaka aykırı özel amaç
                      ve çıkarlarına alet etmez.
                    </li>
                  </ul>
                </div>

                <p class="mid-color-text">
                  Bu ilkeler, Teurny.com’un kullanıcılarına güvenli ve sağlıklı
                  bir platform sunmak için esas alınmakta, vurgulamakta ve
                  platformun etik standartlarına bağlılığını göstermektedir.
                </p>
              </div>
            </div>

            <div
              class="tab-pane fade"
              id="tab4"
              role="tabpanel"
              aria-labelledby="tab4-tab"
            >
              <div class="agreement-content">
                <h3>Yayın İlkeleri</h3>
                <p>
                  Teurny.com, pek çok konuda yazarlar, içerik üreticileri ve
                  editörler tarafından hazırlanan, eğlenceli ve bilgilendirici
                  içerikler, anketler ve hizmet sunan bir topluluk platformdur.
                  Kullanıcılarımız, platformda sorularını paylaşabilir ve
                  içeriklere yorum yapabilirler.  Teurny.com İçeriklerinde merak
                  edilenlerin özgürce, saygı ve sevgi çerçevesinde sorulup,
                  konuşulabilmesini destekleriz. İçerik Üreticiler, Yazarlar,
                  Editörler ve Kullanıcılar tarafından yayın ilkelerine uymasını
                  bekleriz.
                </p>

                <h2 class="mid-color-title">
                  İçerik Üretimi ve Yayın Kuralları
                </h2>
                <div class="agreement-list">
                  <ul>
                    <li>
                      Teurny yayın prensipleri gereği 18 yaş altı kişilerin
                      üyelik oluşturamaz ve paylaşımda bulunamaz. Kullanıcıların
                      yaş beyanları gerçek kabul edilir ve 18 yaş altı olduğu
                      tespit edilen kullanıcıların üyeliği silinir.
                    </li>
                    <li>
                      İçeriklerimiz, alanlarında deneyimli yazarlar, editörler
                      ve içerik üreticiler tarafından hazırlanır. Bilgilendirici
                      ve güvenilir bilgilere dayanan içerikler sunmayı esas
                      alırız. Bu doğrultuda içerikler araştırılmadan
                      yayınlanamaz, yazarlar, editörler ve içerik üreticiler
                      kişisel görüş ve yorumlarına yer verebilirler.
                    </li>
                    <li>
                      Editör ve yazar önerileri, kullanıcı yorum ve soruları,
                      yetkili veya uzman tavsiyesi yerine geçmez. Bu noktada,
                      içeriklerimiz yalnızca bilgilendirici amaç taşır.
                    </li>
                    <li>
                      Kullanıcılarımızın gizliliğine büyük önem veririz. Kişisel
                      bilgilerin paylaşılması üyelerin tercihine bırakılmıştır.
                    </li>
                    <li>
                      Kullanıcılar, sorularını göndererek ve içeriklere yorum
                      yaparak Teurny dünyasında aktif bir rol oynayabilirler.
                    </li>
                    <li>
                      Yayınlanan içerikler ve kullanıcı yorumları yasalara uygun
                      olmalıdır. Yasalara aykırı içeriklere ve yorumlara yer
                      verilmez. Yasalar karşısında suç teşkil eden, suça
                      özendiren, kişilik haklarını ihlal eden ve/veya
                      yayınlanması halinde infial yaratabilecek yorumlara
                      müdahale edilir ve tespiti halinde site sözleşmemize uygun
                      şekilde hareket edilir.
                    </li>
                    <li>
                      Farklı yaşam tarzlarına, görüşlere ve deneyimlere saygı
                      gösterilir. Ayrımcılık yapıcı veya hedef gösteren
                      yorumlara izin verilmez. İçeriklerimizde hiç kimseyi;
                      ırkı, cinsiyeti, yaşı, sağlığı, siyasi görüşleri, sosyal
                      düzeyi, toplum görüşü, cinsel yönelimi ve dini inançları
                      açısından aşağılamamaya, ayrıştırmamaya; çocuklar,
                      engelliler, azınlıklar gibi özen gösterilmeye ihtiyaç
                      duyan gruplara bilinçli zarar vermemeye özen gösteririz.
                    </li>
                    <li>
                      Gerçek kişileri ve/ya tüzel kişileri eleştiri adı altında
                      aşağılayan, küçük düşüren, iftira niteliğinde ifadelere
                      yer vermeyiz.
                    </li>
                    <li>
                      Şiddet ve zorbalığı özendirici, insani değerleri incitici
                      içerik yapmaktan kaçınırız.
                    </li>
                    <li>
                      Suçlu olduğu yargı kararıyla belirlenmedikçe hiç kimseyi
                      “suçlu” ilan etmeyiz.
                    </li>
                    <li>
                      İçerik kalitesinin sürekli iyileştirilmesi hedeflenir.
                      Kullanıcı geri bildirimleri dikkate alınarak platform
                      sürekli geliştirilir.
                    </li>
                  </ul>
                </div>

                <h2 class="mid-color-title">Yasal Uyarı</h2>
                <div class="agreement-list">
                  <ul>
                    <li>
                      Teurny.com’da yer alan tüm içerikler ve editör/yazar
                      görüşleri, yalnızca bilgilendirme amaçlıdır ve herhangi
                      bir konuda profesyonel tavsiye veya tedavi önerisi olarak
                      kabul edilmemelidir. Yayınlanan içeriklerin kullanımı ve
                      bu içeriklere dayanılarak yapılan herhangi bir eylem veya
                      karardan kullanıcının kendisi sorumludur.
                    </li>
                  </ul>
                </div>

                <h2 class="mid-color-title">Tarafsızlık İlkelerimiz</h2>
                <div class="agreement-list">
                  <ul>
                    <li>
                      Kullanıcı yorum, hikaye ve sorularının yayınlanmasında
                      tarafsızlık ilkesine bağlı kalır ve farklı görüşlerin
                      özgürce ve saygıyla varolabildiği bir ortam sunarız.
                    </li>
                    <li>
                      Hiçbir dini, siyasi veya toplumsal görüşe daha yakın
                      durmaz, kişisel görüş ve düşüncelerimizi kullanıcı soru ve
                      yorumlarının incelenme sürecinden ayrı tutarız.
                    </li>
                    <li>
                      Çok yönlü bakış açılarına ve objektif içeriklerin
                      üretimini destekler ve önem veririz, her fikre saygı
                      duyulmasını bekleriz.
                    </li>
                    <li>
                      Editörlerimiz, haber ve içerikleri ahlaka aykırı özel amaç
                      ve çıkarlarına alet etmez.
                    </li>
                  </ul>
                </div>

                <p class="mid-color-text">
                  Bu ilkeler, Teurny.com’un kullanıcılarına güvenli ve sağlıklı
                  bir platform sunmak için esas alınmakta, vurgulamakta ve
                  platformun etik standartlarına bağlılığını göstermektedir.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="searchModal"
        tabindex="-1"
        aria-labelledby="searchModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header border-0">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12 col-sm-8">
                    <form method="GET" action="/search">
                      <div>
                        <div
                          class="border py-2 ps-3 pe-2 d-flex align-items-center"
                        >
                          <i class="fa-solid fa-magnifying-glass fs-4"></i>
                          <div class="flex-grow-1 ps-3">
                            <input
                              name="keyword"
                              type="text"
                              class="teurny-input border-0 w-100"
                              placeholder="Ara..."
                            />
                          </div>
                          <button
                            type="submit"
                            class="teurny-button-secondary w-auto"
                          >
                            ARA
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
 
{% endblock content %}
      