{% load static %}
<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teurny</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'tuerny_app/css/slick.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.2.0/magnific-popup.min.css" integrity="sha512-lvaVbvmbHhG8cmfivxLRhemYlTT60Ly9Cc35USrpi8/m+Lf/f/T8x9kEIQq47cRj1VQIFuxTxxCcvqiQeQSHjQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'tuerny_app/css/general.css' %}" />
    <link rel="stylesheet" href="{% static 'tuerny_app/css/components.css' %}" />
    <link rel="stylesheet" href="{% static 'tuerny_app/css/blog.css' %}" />
    <link rel="stylesheet" href="{% static 'tuerny_app/css/blog-detail.css' %}" />
    <link rel="stylesheet" href="{% static 'tuerny_app/css/question.css' %}" />
    <link rel="stylesheet" href="{% static 'tuerny_app/css/profile.css' %}" />



    <style>
      @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
    </style>
  </head>
  <body>
    <div class="wrapper">
      <!-- HEADER BRAND -->
      <div class="header-brand bg-black">
        <div class="container h-100">
          <div class="d-flex justify-content-center align-items-center h-100">
            <p class="mb-0 text-white fs-6">HEY TEURNER!</p>
          </div>
        </div>
      </div>
      <div class="general-response"></div>

      <div class="container py-5 linkinbio-container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-5">
                <div class="feature-box h-100">
                    <div class="feature-box-header">
                        <img src="{% static 'tuerny_app/images/teurny-social-logo.png' %}" alt="teurny logo" />
                        <div>
                            <p class="mb-1 feature-box-title">Teurny</p>
                            <p class="mb-0 feature-box-text">
                                You’re life on the next level
                            </p>
                        </div>
                    </div>
    
                    <div class="p-2">
                        <button class="tuerny-button-third" style="font-size: 13px">
                            VISIT TEURNY.COM
                        </button>
                    </div>
    
                    <div class="p-2 flex-fill">
                        <div class="feature-box-gallery">
                                    
                                    <div>
                                        <a href="#"
                                            target="_blank"> <img src="{% static 'tuerny_app/images/495812.png' %}" alt="feature-box" /></a>
                                    </div>
                                    <div>
                                        <a href="#"
                                            target="_blank"> <img src="{% static 'tuerny_app/images/495812.png' %}" alt="feature-box" /></a>
                                    </div>
                                    <div>
                                        <a href="#"
                                            target="_blank"> <img src="{% static 'tuerny_app/images/495812.png' %}" alt="feature-box" /></a>
                                    </div>
                                    <div>
                                        <a href="#"
                                            target="_blank"> <img src="{% static 'tuerny_app/images/495812.png' %}" alt="feature-box" /></a>
                                    </div>
                                    <div>
                                        <a href="#"
                                            target="_blank"> <img src="{% static 'tuerny_app/images/495812.png' %}" alt="feature-box" /></a>
                                    </div>
                                    <div>
                                        <a href="#"
                                            target="_blank"> <img src="{% static 'tuerny_app/images/495812.png' %}" alt="feature-box" /></a>
                                    </div>
                                    <div>
                                        <a href="#"
                                            target="_blank"> <img src="{% static 'tuerny_app/images/495812.png' %}" alt="feature-box" /></a>
                                    </div>
                                    <div>
                                        <a href="#"
                                            target="_blank"> <img src="{% static 'tuerny_app/images/495812.png' %}" alt="feature-box" /></a>
                                    </div>
                                    <div>
                                        <a href="#"
                                            target="_blank"> <img src="{% static 'tuerny_app/images/495812.png' %}" alt="feature-box" /></a>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

  </body>
</html>