<div class="row justify-content-center">
  <div class="col-12 col-xl-6">
    <style>
      .form-check-input:checked {
        background-color: var(--teurny-1);
        border-color: var(--teurny-1);
      }

      .form-switch .form-check-input {
        box-shadow: none !important;
        height: 20px;
        width: 36px !important;
        --bs-form-check-bg: #f2f2f2;
      }

      .form-switch .form-check-input {
        --bs-form-switch-bg: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-4%20-4%208%208%22%3E%0A%20%20%3Ccircle%20r%3D%223%22%20fill%3D%22rgba(255%2C%20255%2C%20255%2C%201)%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
      }

      .table {
        border-color: #f2f2f2;
      }

      .accordion-item {
        border: none;
      }
    </style>

    <div class="py-4">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <div
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Kişisel Bilgiler
            </div>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <div class="d-flex flex-column gap-3">
                <form method="POST" id="update-profile-form" class="ajaxFormFalse">
                  <input type="hidden" name="process" value="info" />
              
                  <div class="d-flex flex-column gap-2" style="margin-bottom: 15px">
                      <label for="username" class="teurny-label">Kullanıcı adı</label>
                      <input type="text" name="user_name" placeholder="@isim"
                             value="{{ user.username }}" class="teurny-input vRequired" />
                  </div>
              
                  <div class="d-flex flex-column gap-2" style="margin-bottom: 15px">
                      <label for="mail" class="teurny-label">Email</label>
                      <input type="text" name="mail" placeholder="isim@gmail.com"
                             value="{{ user.email }}" class="teurny-input vRequired" />
                  </div>
              
                  <div class="d-flex flex-column gap-2" style="margin-bottom: 15px">
                      <label for="phone" class="teurny-label">Telefon</label>
                      <input type="tel" name="phone" id="phone" placeholder="0530 000 000 00"
                             value="{{ user.phone }}" class="teurny-input vRequired" />
                  </div>
              
                  <div class="d-flex flex-column gap-2" style="margin-bottom: 15px">
                      <label for="gender" class="teurny-label">Cinsiyet</label>
                      <select name="gender" class="teurny-input teurny-text-mid vRequired">
                          <option value="">Cinsiyet Seç</option>
                          <option value="Female" {% if user.gender == "Female" %}selected{% endif %}>Kadın</option>
                          <option value="Male" {% if user.gender == "Male" %}selected{% endif %}>Erkek</option>
                      </select>
                  </div>
              
                  <div class="d-flex flex-column gap-2" style="margin-bottom: 15px">
                      <label for="birth_date" class="teurny-label">Doğum Tarihi</label>
                      <input type="date" name="birth_date" placeholder="@isim"
                             value="{{ user.birth_date|date:'Y-m-d' }}" class="teurny-input teurny-text-mid vRequired" />
                  </div>
              
                  <div>
                      <button type="submit" class="teurny-button-primary-outline">
                          Kaydet
                      </button>
                  </div>
              </form>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <div
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              Güvenlik
            </div>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <div class="d-flex flex-column gap-4">
                <form method="POST" id="change-password-form" class="ajaxFormFalse ajaxFormFalsePassword">
                  {% csrf_token %}
                  <input type="hidden" name="process" value="pass" />
                  
                  <div class="pb-2">
                      <label class="teurny-label mb-2">Eski Şifreniz</label>
                      <input name="old_pass" type="password" placeholder="**********" class="teurny-input w-100 vRequired" />
                  </div>
              
                  <div class="pb-2">
                      <label class="teurny-label mb-1">Parola Değiştir</label>
                      <input name="new_pass" type="password" placeholder="Yeni Parola" class="form-control teurny-input w-100 vRequired vPassword" />
                      <input name="new_pass_again" type="password" placeholder="Yeni Parola Tekrar" class="form-control teurny-input w-100 vRequired vPasswordConfirm" />
                  </div>
              
                  
              
                  <div class="mt-3">
                      <button type="submit" class="teurny-button-primary-outline">Kaydet</button>
                  </div>
              </form>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <div
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              Bilgiler ve İzinler
            </div>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <div class="d-flex flex-column gap-4">
                <span
                  style="
                    color: #989491;
                    font-family: Poppins;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 25px;
                    letter-spacing: 1.69px;
                    text-align: left;
                  "
                  >İLETİŞİM İZİNLERİ</span
                >
                <table class="table">
                  <!-- Email Kategorisi -->
                  <thead>
                      <tr>
                          <th style="font-family: Roboto; font-size: 16px; font-weight: 400; line-height: 20.8px; text-align: left;">
                              Email
                          </th>
                          <th style="text-align: right"></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td style="color: #989491; font-family: Poppins; font-size: 16px; font-weight: 300; line-height: 20.8px; text-align: left;">
                              Teurny Bülten
                          </td>
                          <td class="text-end">
                              <div class="form-switch">
                                
                                <input class="form-check-input setting-toggle" type="checkbox" 
                                id="email_newsletter" data-setting="email_newsletter"
                                {% if user_settings.email_newsletter %}checked{% endif %}>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td style="color: #989491; font-family: Poppins; font-size: 16px; font-weight: 300; line-height: 20.8px; text-align: left;">Soru Oylamaları</td>
                          <td class="text-end">
                              <div class="form-switch">
                                  <input class="form-check-input setting-toggle" type="checkbox" 
                                         id="email_question_votes" data-setting="email_question_votes"
                                         {% if user_settings.email_question_votes %}checked{% endif %}>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td style="color: #989491; font-family: Poppins; font-size: 16px; font-weight: 300; line-height: 20.8px; text-align: left;">Soru Cevapları</td>
                          <td class="text-end">
                              <div class="form-switch">
                                  <input class="form-check-input setting-toggle" type="checkbox" 
                                         id="email_question_answers" data-setting="email_question_answers"
                                         {% if user_settings.email_question_answers %}checked{% endif %}>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td style="color: #989491; font-family: Poppins; font-size: 16px; font-weight: 300; line-height: 20.8px; text-align: left;">Yorum Cevapları</td>
                          <td class="text-end">
                              <div class="form-switch">
                                  <input class="form-check-input setting-toggle" type="checkbox" 
                                         id="email_comment_replies" data-setting="email_comment_replies"
                                         {% if user_settings.email_comment_replies %}checked{% endif %}>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td style="color: #989491; font-family: Poppins; font-size: 16px; font-weight: 300; line-height: 20.8px; text-align: left;">Hesap Güvenliği</td>
                          <td class="text-end">
                              <div class="form-switch">
                                  <input class="form-check-input setting-toggle" type="checkbox" 
                                         id="email_security_alerts" data-setting="email_security_alerts"
                                         {% if user_settings.email_security_alerts %}checked{% endif %}>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td style="color: #989491; font-family: Poppins; font-size: 16px; font-weight: 300; line-height: 20.8px; text-align: left;">Yorum Tepkileri</td>
                          <td class="text-end">
                              <div class="form-switch">
                                  <input class="form-check-input setting-toggle" type="checkbox" 
                                         id="email_comment_reactions" data-setting="email_comment_reactions"
                                         {% if user_settings.email_comment_reactions %}checked{% endif %}>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td style="color: #989491; font-family: Poppins; font-size: 16px; font-weight: 300; line-height: 20.8px; text-align: left;">Bildiri ve Kampanyalar</td>
                          <td class="text-end">
                              <div class="form-switch">
                                  <input class="form-check-input setting-toggle" type="checkbox" 
                                         id="email_notifications" data-setting="email_notifications"
                                         {% if user_settings.email_notifications %}checked{% endif %}>
                              </div>
                          </td>
                      </tr>
                  </tbody>
              </table>

                <!-- <table class="table">
                  <thead>
                    <tr>
                      <th
                        style="
                          font-family: Roboto;
                          font-size: 16px;
                          font-weight: 400;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        SMS
                      </th>
                      <th style="text-align: right"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Bildiri ve Kampanyalar
                      </td>
                      <td class="text-end">
                        <div class="form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="smsOption1"
                          />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Hesap Güvenliği
                      </td>
                      <td class="text-end">
                        <div class="form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="smsOption2"
                            checked
                          />
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table> -->

                <table class="table">
                  <thead>
                      <tr>
                          <th style="font-family: Roboto; font-size: 16px; font-weight: 400; line-height: 20.8px; text-align: left;">
                              Bildirimler
                          </th>
                          <th style="text-align: right"></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td style="color: #989491; font-family: Poppins; font-size: 16px; font-weight: 300; line-height: 20.8px; text-align: left;">Bildiri ve Kampanyalar</td>
                          <td class="text-end">
                              <div class="form-switch">
                                  <input class="form-check-input setting-toggle" type="checkbox" 
                                         id="notify_campaigns" data-setting="notify_campaigns"
                                         {% if user_settings.notify_campaigns %}checked{% endif %}>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td style="color: #989491; font-family: Poppins; font-size: 16px; font-weight: 300; line-height: 20.8px; text-align: left;">Gündemdekiler</td>
                          <td class="text-end">
                              <div class="form-switch">
                                  <input class="form-check-input setting-toggle" type="checkbox" 
                                         id="notify_trending" data-setting="notify_trending"
                                         {% if user_settings.notify_trending %}checked{% endif %}>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td style="color: #989491; font-family: Poppins; font-size: 16px; font-weight: 300; line-height: 20.8px; text-align: left;">Soru Oylamaları</td>
                          <td class="text-end">
                              <div class="form-switch">
                                  <input class="form-check-input setting-toggle" type="checkbox" 
                                         id="notify_question_votes" data-setting="notify_question_votes"
                                         {% if user_settings.notify_question_votes %}checked{% endif %}>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td style="color: #989491; font-family: Poppins; font-size: 16px; font-weight: 300; line-height: 20.8px; text-align: left;">Soru Cevapları</td>
                          <td class="text-end">
                              <div class="form-switch">
                                  <input class="form-check-input setting-toggle" type="checkbox" 
                                         id="notify_question_answers" data-setting="notify_question_answers"
                                         {% if user_settings.notify_question_answers %}checked{% endif %}>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td style="color: #989491; font-family: Poppins; font-size: 16px; font-weight: 300; line-height: 20.8px; text-align: left;">Yorum Cevapları</td>
                          <td class="text-end">
                              <div class="form-switch">
                                  <input class="form-check-input setting-toggle" type="checkbox" 
                                         id="notify_comment_replies" data-setting="notify_comment_replies"
                                         {% if user_settings.notify_comment_replies %}checked{% endif %}>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td style="color: #989491; font-family: Poppins; font-size: 16px; font-weight: 300; line-height: 20.8px; text-align: left;">Yorum Tepkileri</td>
                          <td class="text-end">
                              <div class="form-switch">
                                  <input class="form-check-input setting-toggle" type="checkbox" 
                                         id="notify_comment_reactions" data-setting="notify_comment_reactions"
                                         {% if user_settings.notify_comment_reactions %}checked{% endif %}>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td style="color: #989491; font-family: Poppins; font-size: 16px; font-weight: 300; line-height: 20.8px; text-align: left;">Hesap Güvenliği</td>
                          <td class="text-end">
                              <div class="form-switch">
                                  <input class="form-check-input setting-toggle" type="checkbox" 
                                         id="notify_security_alerts" data-setting="notify_security_alerts"
                                         {% if user_settings.notify_security_alerts %}checked{% endif %}>
                              </div>
                          </td>
                      </tr>
                  </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <div
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour"
              aria-expanded="false"
              aria-controls="flush-collapseFour"
            >
              Favori Kategoriler
            </div>
          </h2>
          <div
            id="flush-collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <div class="d-flex flex-column gap-4">
                <table class="table">
                  <tbody>
                    {% for category in categories %}
    {% for c in category.subcategories.all %}
    <tr>
        <td style="color: #989491; font-family: Poppins; font-size: 16px; font-weight: 300; line-height: 20.8px; text-align: left;">
            {{ c.name }}
        </td>
        <td class="text-end">
            <div class="input-box">
                <input
                    class="form-check-input subcategory-toggle"
                    type="checkbox"
                    name="kategori"
                    id="subcategory-{{ c.id }}"
                    data-subcategory-id="{{ c.id }}"
                    {% if request.user in c.saved_users.all %} checked {% endif %} 
                />
            </div>
        </td>
    </tr>
    {% endfor %}
{% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const passwordInput = document.querySelector('input[name="new_pass"]');
    // const passwordInput = document.querySelector('input[name="new_pass_again"]');
    const eyeIcon = document.querySelector(".fa-eye");
    const eyeSlashIcon = document.querySelector(".fa-eye-slash");

    function togglePasswordVisibility() {
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        eyeIcon.style.display = "inline";
        eyeSlashIcon.style.display = "none";
      } else {
        passwordInput.type = "password";
        eyeIcon.style.display = "none";
        eyeSlashIcon.style.display = "inline";
      }
    }

    eyeIcon.addEventListener("click", togglePasswordVisibility);
    eyeSlashIcon.addEventListener("click", togglePasswordVisibility);
  });
</script>

