<div class="row justify-content-center">
  <div class="col-12 col-xl-6">
    <style>
      .form-check-input:checked {
        background-color: var(--teurny-1);
        border-color: var(--teurny-1);
      }

      .form-switch .form-check-input {
        box-shadow: none !important;
        height: 20px;
        width: 36px !important;
        --bs-form-check-bg: #f2f2f2;
      }

      .form-switch .form-check-input {
        --bs-form-switch-bg: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-4%20-4%208%208%22%3E%0A%20%20%3Ccircle%20r%3D%223%22%20fill%3D%22rgba(255%2C%20255%2C%20255%2C%201)%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
      }

      .table {
        border-color: #f2f2f2;
      }

      .accordion-item {
        border: none;
      }
    </style>

    <div class="py-4">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <div
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Kişisel Bilgiler
            </div>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <div class="d-flex flex-column gap-3">
                <form method="POST" class="ajaxFormFalse" action="">
                  <input type="hidden" name="process" value="info" />
                  <div
                    class="d-flex flex-column gap-2"
                    style="margin-bottom: 15px"
                  >
                    <label for="username" class="teurny-label"
                      >Kullanıcı adı</label
                    >
                    <input
                      type="text"
                      name="user_name"
                      placeholder="@isim"
                      value=""
                      class="teurny-input vRequired"
                    />
                  </div>
                  <div
                    class="d-flex flex-column gap-2"
                    style="margin-bottom: 15px"
                  >
                    <label for="username" class="teurny-label">Email</label>
                    <input
                      type="text"
                      name="mail"
                      placeholder="isim@gmail.com"
                      value=""
                      class="teurny-input vRequired"
                    />
                  </div>
                  <div
                    class="d-flex flex-column gap-2"
                    style="margin-bottom: 15px"
                  >
                    <label for="phone" class="teurny-label">Telefon</label>
                    <input
                      type="tel"
                      name="phone"
                      id="phone"
                      placeholder="0530 000 000 00"
                      value=""
                      class="teurny-input vRequired"
                    />
                  </div>
                  <div
                    class="d-flex flex-column gap-2"
                    style="margin-bottom: 15px"
                  >
                    <label for="username" class="teurny-label">Cinsiyet</label>
                    <select
                      name="gender"
                      class="teurny-input teurny-text-mid vRequired"
                    >
                      <option value="">Cinsiyet Seç</option>
                      <option value="">Kadın</option>
                      <option value="">Erkek</option>
                    </select>
                  </div>
                  <div
                    class="d-flex flex-column gap-2"
                    style="margin-bottom: 15px"
                  >
                    <label for="username" class="teurny-label"
                      >Doğum Tarihi</label
                    >
                    <input
                      type="date"
                      value=""
                      name="birth_date"
                      placeholder="@isim"
                      class="teurny-input teurny-text-mid vRequired"
                    />
                  </div>
                  <div>
                    <button type="submit" class="teurny-button-primary-outline">
                      Kaydet
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <div
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              Güvenlik
            </div>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <div class="d-flex flex-column gap-4">
                <form method="POST" class="ajaxFormFalse" action="">
                  <input type="hidden" name="process" value="pass" />
                  <div class="pb-2">
                    <label class="teurny-label mb-2">Eski Şifreniz</label>
                    <div class="row">
                      <div class="col-md-12 my-1">
                        <input
                          name="old_pass"
                          type="password"
                          placeholder="**********"
                          class="teurny-input w-100 vRequired"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="pb-2">
                    <label class="teurny-label mb-1">Parola Değiştir</label>
                    <div class="mt-2 position-relative">
                      <input
                        name="new_pass"
                        type="password"
                        placeholder="Yeni Parola"
                        class="form-control teurny-input w-100 vRequired vPassword"
                      />

                      <i
                        class="position-absolute top-50 end-0 translate-middle fa-solid fa-eye"
                        style="color: #989491; display: none"
                      ></i>
                      <i
                        class="position-absolute top-50 end-0 translate-middle fa-solid fa-eye-slash"
                        style="color: #989491"
                      ></i>
                    </div>
                    <div class="mt-2 position-relative">
                      <input
                        name="new_pass_again"
                        type="password"
                        placeholder="Yeni Parola Tekrar"
                        class="form-control teurny-input w-100 vRequired vPasswordConfirm"
                      />

                      <i
                        class="position-absolute top-50 end-0 translate-middle fa-solid fa-eye"
                        style="color: #989491; display: none"
                      ></i>
                      <i
                        class="position-absolute top-50 end-0 translate-middle fa-solid fa-eye-slash"
                        style="color: #989491"
                      ></i>
                    </div>
                  </div>
                  <div class="pb-2">
                    <label class="teurny-label mb-1">Kurtarma Sorusu</label>
                    <div class="mt-2">
                      <select
                        name="recovery-question"
                        class="teurny-input w-100"
                        id="recovery-question"
                      >
                        <option value="question1">
                          İlk evcil hayvanının ismi?
                        </option>
                      </select>
                    </div>
                    <div class="mt-2">
                      <input
                        type="text"
                        placeholder="Çapkın"
                        id="recovery-answer"
                        name="question1"
                        class="teurny-input w-100 vRequired"
                      />
                    </div>
                  </div>
                  <div class="mt-3">
                    <button type="submit" class="teurny-button-primary-outline">
                      Kaydet
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <div
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              Bilgiler ve İzinler
            </div>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <div class="d-flex flex-column gap-4">
                <span
                  style="
                    color: #989491;
                    font-family: Poppins;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 25px;
                    letter-spacing: 1.69px;
                    text-align: left;
                  "
                  >İLETİŞİM İZİNLERİ</span
                >
                <table class="table">
                  <!-- Email Kategorisi -->
                  <thead>
                    <tr>
                      <th
                        style="
                          font-family: Roboto;
                          font-size: 16px;
                          font-weight: 400;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Email
                      </th>
                      <th style="text-align: right"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Teurny Bülten
                      </td>
                      <td class="text-end">
                        <div class="form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="emailOption1"
                          />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Soru Oylamaları
                      </td>
                      <td class="text-end">
                        <div class="form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="emailOption2"
                            checked
                          />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Soru Cevapları
                      </td>
                      <td class="text-end">
                        <div class="form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="emailOption3"
                            checked
                          />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Yorum Cevapları ve ...
                      </td>
                      <td class="text-end">
                        <div class="form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="emailOption4"
                            checked
                          />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Hesap Güvenliği
                      </td>
                      <td class="text-end">
                        <div class="form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="emailOption5"
                            checked
                          />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Yorum Tepkileri
                      </td>
                      <td class="text-end">
                        <div class="form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="emailOption6"
                            checked
                          />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Bildiri ve Kampanyalar
                      </td>
                      <td class="text-end">
                        <div class="form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="emailOption7"
                          />
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <table class="table">
                  <thead>
                    <tr>
                      <th
                        style="
                          font-family: Roboto;
                          font-size: 16px;
                          font-weight: 400;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        SMS
                      </th>
                      <th style="text-align: right"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Bildiri ve Kampanyalar
                      </td>
                      <td class="text-end">
                        <div class="form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="smsOption1"
                          />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Hesap Güvenliği
                      </td>
                      <td class="text-end">
                        <div class="form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="smsOption2"
                            checked
                          />
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <table class="table">
                  <thead>
                    <tr>
                      <th
                        style="
                          font-family: Roboto;
                          font-size: 16px;
                          font-weight: 400;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Bildirimler
                      </th>
                      <th style="text-align: right"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Bildiri ve Kampanyalar
                      </td>
                      <td class="text-end">
                        <div class="form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="notificationOption1"
                            checked
                          />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Gündemdekiler
                      </td>
                      <td class="text-end">
                        <div class="form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="notificationOption2"
                          />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Soru Oylamaları
                      </td>
                      <td class="text-end">
                        <div class="form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="notificationOption3"
                            checked
                          />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Soru Cevapları
                      </td>
                      <td class="text-end">
                        <div class="form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="notificationOption4"
                            checked
                          />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Yorum Cevapları ve ...
                      </td>
                      <td class="text-end">
                        <div class="form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="notificationOption5"
                            checked
                          />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Yorum Tepkileri
                      </td>
                      <td class="text-end">
                        <div class="form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="notificationOption6"
                          />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Hesap Güvenliği
                      </td>
                      <td class="text-end">
                        <div class="form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="notificationOption7"
                            checked
                          />
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <div
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour"
              aria-expanded="false"
              aria-controls="flush-collapseFour"
            >
              Favori Kategoriler
            </div>
          </h2>
          <div
            id="flush-collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <div class="d-flex flex-column gap-4">
                <table class="table">
                  <tbody>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Kategori 1
                      </td>
                      <td class="text-end">
                        <div class="input-box">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="kategori"
                            id="radioOption1"
                          />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Kategori 2
                      </td>
                      <td class="text-end">
                        <div class="input-box">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="kategori"
                            id="radioOption2"
                            checked
                          />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          color: #989491;
                          font-family: Poppins;
                          font-size: 16px;
                          font-weight: 300;
                          line-height: 20.8px;
                          text-align: left;
                        "
                      >
                        Kategori 3
                      </td>
                      <td class="text-end">
                        <div class="input-box">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="kategori"
                            id="radioOption3"
                          />
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const passwordInput = document.querySelector('input[name="new_pass"]');
    // const passwordInput = document.querySelector('input[name="new_pass_again"]');
    const eyeIcon = document.querySelector(".fa-eye");
    const eyeSlashIcon = document.querySelector(".fa-eye-slash");

    function togglePasswordVisibility() {
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        eyeIcon.style.display = "inline";
        eyeSlashIcon.style.display = "none";
      } else {
        passwordInput.type = "password";
        eyeIcon.style.display = "none";
        eyeSlashIcon.style.display = "inline";
      }
    }

    eyeIcon.addEventListener("click", togglePasswordVisibility);
    eyeSlashIcon.addEventListener("click", togglePasswordVisibility);
  });
</script>