{% load math_filters %}

<div class="row justify-content-center">
  <div class="col-12 col-xl-8">
      <div class="py-4">
          <div class="d-flex flex-column gap-4 saved-votes-listing-div">
            {% for vote in request.user.voted_options.all %}
                      <div class="question-card">
                          <div class="question-card-category">
                              <p>{{vote.poll.question.subcategory.name}}</p>
                          </div>
                          <div class="question-card-date">
                              <p>{{ vote.poll.question.created_at|date:"d-m-Y" }}</p>
                          </div>
                          <h3 class="question-card-title pb-2">
                              <a href="{% url 'tuerny_app:asked' vote.poll.question.id %}">{{vote.poll.question.title}}</a>
                          </h3>
                          <p class="question-card-text py-2" style="margin-bottom: 10px;">
                            {{ vote.poll.poll_question }}
                        </p>
                        {% if vote.poll.question.poll %}
                                {% with poll=poll_data|get_item:vote.poll.question.id %}
                                {% with total_votes=poll.total_votes|default:0 %}
                                
                                    {% for option in vote.poll.question.poll.options.all %}
                                        <div class="question-card-survey vCheckRequired" style="padding: 0;">
                                            <div class="question-card-survey-item" style="margin-bottom: 10px">
                                                
                                                <div class="question-card-survey-item-label">
                                                    <input name="vote_{{ vote.poll.question.id }}" value="{{ option.id }}" type="radio" id="r{{ option.id }}"
                                                    {% if request.user in option.voted_users.all %} checked {% endif %}>
                                                    <label for="r{{ option.id }}" style="{% if request.user in option.voted_users.all %}color: #414141;{% else %}color: #989491; {% endif %}" class="vote-option">{{ option.option_text }}</label>
                                                </div>
                                                
                                                <div class="question-card-survey-item-progress">
                                                    <div class="question-card-survey-item-progress-rate"
                                                        id="progress-{{ option.id }}"
                                                        style="width: {% if total_votes > 0 %}{{ poll.percentages|get_item:option.id|floatformat:1 }}{% else %}0{% endif %}%">
                                                        <span id="percentage-{{ option.id }}">
                                                            {% if total_votes > 0 %}
                                                                {{ poll.percentages|get_item:option.id|floatformat:1 }}%
                                                            {% else %}
                                                                0%
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                {% endwith %}
                                {% endwith %}
                            {% endif %}
                              <div class="question-card-survey py-2 vCheckRequired">
                                  
                          <div class="d-flex justify-content-between align-items-center pt-4">
                              <div class="d-flex gap-4">
                                  <div class="question-card-button">
                                      <i class="fa-regular fa-eye question-card-button-icon"></i>
                                      <span class="question-card-button-text">{{vote.poll.question.views_count}}</span>
                                  </div>
                                  <div class="question-card-button">
                                      <i class="fa-regular fa-message question-card-button-icon"></i>
                                      <span
                                          class="question-card-button-text">{{vote.poll.question.comments.count}}</span>
                                  </div>
                              </div>
                              <div class="d-flex align-items-center gap-3">
                                <div class="question-card-button">
                                    <i {% if request.user in vote.poll.question.dislikes.all %}style="cursor: pointer; color: rgb(130, 68, 88);"{% else %}style="cursor: pointer;"{% endif %}  data-id="{{ vote.poll.question.id }}"
                                       id="dislike-icon-{{ vote.poll.question.id }}"
                                       class="fa-solid fa-heart-crack question-card-button-icon dislike-button {% if request.user in vote.poll.question.dislikes.all %}active{% endif %}"></i>
                                    <span id="dislike-count-{{ vote.poll.question.id }}">{{ vote.poll.question.dislike_count }}</span>
                                </div>
                            
                                <div class="question-card-rate-line-container">
                                    <div class="question-card-rate-line">
                                        <div class="rate-line-dislike" id="rate-dislike-{{ q.id }}"></div>
                                        <div class="rate-line-like" id="rate-like-{{ q.id }}"></div>
                                    </div>
                                </div>
                            
                                <!-- Beğeni Butonu -->
                                <div class="question-card-button">
                                    <i style="cursor: pointer" data-id="{{ vote.poll.question.id }}"
                                       id="like-icon-{{ vote.poll.question.id }}"
                                       class="{% if request.user in vote.poll.question.likes.all %}fa-solid {% else %} fa-regular{% endif %} fa-heart question-card-button-icon like-button {% if request.user in vote.poll.question.likes.all %}active{% endif %}"></i>
                                    <span id="like-count-{{ vote.poll.question.id }}">{{ vote.poll.question.like_count }}</span>
                                </div>
                                  
                                  
                              </div>
                          </div>
                      </div>

              

          </div>
          {% endfor %}
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
              <div class="hstack justify-content-center mt-5">
                  <button data-start="9" class="teurny-button-primary-outline saved-more-ask"
                      style="width: 383px;height: 39px;">
                      DAHA FAZLA
                  </button>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>