<div class="row justify-content-center">
  <div class="col-12 col-xl-8">
      <div class="py-4">
          <div class="d-flex flex-column gap-4 saved-votes-listing-div">
            {% for vote in request.user.voted_options.all %}
                      <div class="question-card">
                          <div class="question-card-category">
                              <p>{{vote.poll.question.subcategory.name}}</p>
                          </div>
                          <div class="question-card-date">
                              <p>question card date</p>
                          </div>
                          <h3 class="question-card-title pb-2">
                              <a href="/assets/src/views/ask-detail.html">{{vote.poll.question.title}}</a>
                          </h3>
                          <p class="question-card-text py-2">
                            {{ vote.option_text }}
                        </p>
                              <div class="question-card-survey py-2 vCheckRequired">
                                  <input type="hidden" name="survey_id" value="">
                                      <div class="question-card-survey-item ">
                                          <div class="question-card-survey-item-label">
                                              <input name="vote" value="" type="radio" id="r1" />
                                              <label for="r1">select value</label>
                                          </div>
                                          <div class="question-card-survey-item-progress">
                                              <div class="question-card-survey-item-progress-rate"
                                                  style="width: 4%">
                                              </div>
                                          </div>
                                      </div>
                          <div class="d-flex justify-content-between align-items-center pt-4">
                              <div class="d-flex gap-4">
                                  <div class="question-card-button">
                                      <i class="fa-regular fa-eye question-card-button-icon"></i>
                                      <span class="question-card-button-text">0</span>
                                  </div>
                                  <div class="question-card-button">
                                      <i class="fa-regular fa-message question-card-button-icon"></i>
                                      <span
                                          class="question-card-button-text">0ı</span>
                                  </div>
                              </div>
                              <div class="d-flex align-items-center gap-3">
                                  <div class="question-card-button">
                                      <i style="cursor: pointer" data-id=""
                                          class="fa-solid fa-heart-crack question-card-button-icon"></i> <span
                                          class="heart-crack-result-0">0</span>
                                  </div>
                                  <div class="question-card-rate-line"></div>
                                  <div class="question-card-button">
                                      <i style="cursor: pointer" data-id=""
                                          class="fa-regular fa-heart question-card-button-icon"></i> <span
                                          class="heart-result-0">0</span>
                                  </div>
                              </div>
                          </div>
                      </div>

              <div class="row justify-content-center">
                  <div class="col-12 col-lg-8">
                      <div class="hstack justify-content-center mt-5">
                          <button data-start="9" class="teurny-button-primary-outline saved-more-ask"
                              style="width: 383px;height: 39px;">
                              DAHA FAZLA
                          </button>
                      </div>
                  </div>
              </div>

          </div>
          {% endfor %}

      </div>
  </div>
</div>