.blog-category {
  font-family: "Roboto";
  color: var(--teurny-1);
}

.blog-title {
  font-size: 48px;
  font-family: "Playfair Display";
  padding: 0;
  text-align: center;
}

.blog-text {
  font-size: 14px;
  font-family: "Roboto";
  color: var(--teurny-mid);
  padding: 0 130px;
}

.blog-author {
  font-size: 14px;
  font-family: "Roboto";
  color: var(--teurny-mid);
}

.blog-buttons {
  font-size: 24px;
}
.blog-buttons a i {
  color: var(--teurny-mid);
}
.blog-buttons a.saved i {
  color: var(--teurny-1);
}

.blog-content-title {
  font-size: 24px;
  padding-left: 10px;
  position: relative;
}
.blog-content-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: block;
  width: 3px;
  height: calc(100% - 0.1rem);
  background-color: var(--teurny-1);
}
.blog-content p {
  font-size: 18px;
  text-indent: 30px;
  
}
.blog-content h1 {
  border-left: 5px solid red;
  text-indent: 10px;
}
.blog-content h2 {
  border-left: 5px solid blue;
  text-indent: 10px;
  
}
.blog-content p.source-text {
  text-indent: 0;
  color: var(--teurny-mid);
}
.blog-content p.source-link {
  color: var(--teurny-1);
}
.blog-content p.source-link a {
  color: var(--teurny-1);
}
.blog-content h3 {
  position: relative;
  margin-left: 10px;
}
.blog-content h3::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  height: 100%;
  width: 10px;
  border-left: 3px solid var(--teurny-1);
}
.blog-content .blog-card-img {
  width: 300px;
  height: 400px;
}

.blog-comment-checkbox-label {
  font-size: 12px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 1.69px;
}
.blog-comment-checkbox-text {
  font-size: 14px;
  color: var(--teurny-mid);
}

.blog-comment-item {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.blog-comment-item .blog-comment-item-author {
  font-size: 12px;
  color: var(--teurny-mid);
  margin: 0 !important;
}
.blog-comment-item .blog-comment-item-text {
  font-weight: 300;
  margin: 0 !important;
}

.blog-sidebar {
  position: sticky;
  top: 100px;
}

@media screen and (max-width: 1024px) {
  .product-detail .blog-card-content .blog-card-content-top .blog-card-text {
    display: block;
    text-indent: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-detail.blog-card-3 .blog-card-content {
    height: auto;
  }

  .blog-content .product-detail .blog-card-img {
    height: auto;
}
}

@media screen and (max-width: 992px) {
  .product-detail .row {
    flex-direction: row;
  }
  .product-detail .blog-card-content .blog-card-content-top .blog-card-title {
    font-size: 25px;
  }
  .product-detail .blog-card-content .blog-card-content-top .blog-card-text {
    display: block;
    text-indent: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 768px) {
  .blog-content-title {
    font-size: 15.7px;
  }
  .blog-content::after {
    height: 25px;
    top: -3px;
  }
  .blog-content p {
    font-size: 13.5px;
  }
  .blog-comment-item {
    padding-bottom: 25px;
  }
  .blog-comment-item .blog-comment-item-author {
    font-style: italic;
    font-size: 10px;
  }
  .blog-comment-item .blog-comment-item-text {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .blog-sidebar {
    display: none !important;
  }
  .product-detail .blog-card-img {
    width: 100%;
  }
  .product-detail .blog-card-content .blog-card-content-top .blog-card-title {
    font-size: 24px;
  }
  .product-detail .blog-card-content .blog-card-content-top .blog-card-text {
    color: var(--teurny-mid);
    font-weight: 400;
  }
}
@media screen and (max-width: 580px) {
  .product-detail .blog-card-img img {
    height: 100%;
  }
  .product-detail .blog-card-content .blog-card-content-top .blog-card-title {
    font-size: 19px;
    font-weight: 400;
    line-height: 20.8px;
  }
  .product-detail .blog-card-content .blog-card-content-top .blog-card-text {
    display: block;
    text-indent: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
}
@media screen and (max-width: 1400px) {
  .edit-special {
    display: contents;
  }
  
@media screen and (max-width: 720px) {
  #hero-slider-top .slick-slide.slick-active .px-2 a {
    margin-left: 0%;
    margin-right: 0%;
    min-width: 100%;
  }
  
}
}
/*# sourceMappingURL=blog-detail.css.map */