.profile-name {
  font-size: 20px;
}

.profile-check {
  color: var(--teurny-mid);
}

.profile-username {
  color: var(--teurny-mid);
  font-size: 14px;
}

.profile-tabs {
  display: flex;
  gap: 8px;
  border: none !important;

  .profile-tab {
    background-color: white;

    padding: 10px 15px;
    font-family: "Roboto", serif;
    color: var(--teurny-darker);
    outline: none !important;
    border-radius: 0;
    border: none;
    border: 2px solid var(--teurny-lighter);

    &:focus {
      outline: none;
    }

    &.active {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 5px solid var(--teurny-mid);
    }
  }
}
